<div class="wrapper">
    <div class="wrapperWrap">
        <div :class="['sidebar', isCollapse ? 'collapse' : '']">
            <div  class="logo-box">
                <img src="iti-logo.svg" @click="$router.push('/')">
                <div class="logo-name pl-2">Industrial Technical Institute</div>
            </div>
            <ul class="sidebar-list">
                <li v-for="(item, index) in menuList" :key="index" :class="{ active: isActive(item) }">
                    <div class="title">
                        <router-link v-if="!item.subMenuList" :to="item.path" class="link">
                            <i><font-awesome-icon :icon="item.iconClass" /></i>
                            <span class="name">{{ item.name }}</span>
                        </router-link>
                        <div v-else>
                            <div class="link">
                                <i><font-awesome-icon :icon="item.iconClass" /></i>
                                <span class="name">{{ item.name }}</span>
                            </div>
                            <ul>
                                <li v-for="(subItem, subIndex) in item.subMenuList" :key="subIndex" :class="{ active: isActive(subItem) }">
                                    <div class="sub-title">
                                        <router-link :to="subItem.path" class="sub-link">
                                            <i><font-awesome-icon :icon="subItem.iconClass" /></i>
                                            <span class="name">{{ subItem.name }}</span>
                                        </router-link>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main_side">
            <div class="headerWrap d-flex justify-content-between p-2">
                <button @click="toggleSidebar">
                    <font-awesome-icon icon="fa-solid fa-bars" />
                </button>
                <button class="btn btn-success">
                    <a :href="telegramURL" target="_blank">
                        <font-awesome-icon icon="fa-solid fa-message" />
                    </a>
                </button>
            </div>
            <div class="main_content">
                <router-view></router-view>
            </div>
        </div>
    </div>
</div>