<div class="container-fluid d-flex justify-content-center align-items-center position-relative" style="height: 100vh;background-color: rgb(78, 78, 78);">
    <div class="container-fluid position-absolute" style="height: 100vh;">
        <img src="@/assets/images/school-bg.jpg" class="w-100 h-100" alt="" style="object-fit: cover;">
    </div>
    <div class="container-fluid w-100 h-100 position-absolute" style="background-color: #0000005d;"></div>
    <div class="container shadow p-4 py-5 mb-5 bg-body rounded position-absolute" style="width: 500px;">
        <h3 class="text-center mt-2">{{ $t('common.changePassword') }}</h3>
        <div class="d-flex flex-column gap-2 mt-3">
            <label>{{ $t('common.oldPassword') }}</label>
            <Password :feedback="false" v-model="passwordInfo.oldPassword" toggleMask/>
        </div>
        <div class="d-flex flex-column gap-2 mt-3">
            <label>{{ $t('common.newPassword') }}</label>
            <Password 
                v-model="passwordInfo.newPassword"  
                toggleMask
                :feedback="false">
            </Password>
            <span class="text-danger font_14" v-if="validationMessage !== '' ">{{ validationMessage }}</span>
        </div>
        <div class="d-flex flex-column gap-2 mt-3">
            <label>{{ $t('common.confirmPassword') }}</label>
            <Password :feedback="false" v-model="passwordInfo.confirmPassword" @keyup.enter="onClickChangePassword" toggleMask/>
            <span v-show="!isPasswordMatch" class="font_14 text-danger">{{ $t('common.passwordNotMatch') }}</span>
        </div>
        <button class="btn btn-primary mt-4 float-end" :disabled="isEnableChange" @click="onClickChangePassword">{{ $t('common.changePassword') }}</button>
    </div>
</div>