<div class="container-fluid p-0 mb-4">
    <div class="container-fluid p-0 d-flex justify-content-between">
        <span class="we_title">Register Student</span>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-md-4">
            <InputText type="text" v-model="value" />
        </div>
        <div class="col-md-4">
            <InputText type="text" v-model="value" />
        </div>
        <div class="col-md-4">
            <InputText type="text" v-model="value" />
        </div>
        <div class="col-md-4">
            <InputText type="text" v-model="value" />
        </div>
    </div>
    
</div>
