<div class="popup">
    <div class="popWrap w920">
        <div class="pop_head">
            <h1 class="text-center text-primary">Department Information</h1>
            <!-- <button class="btn_pop_close" @click="handleClose">Close</button> -->
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="dlist05 type02 p-2">
                    <dl>
                        <dt>Department ID</dt>
                        <dd>{{ departmentInfo.departmentID }}</dd>
                    </dl>
                    <dl>
                        <dt>Department Name</dt>
                        <dd>{{ departmentInfo.departmentName }}</dd>
                    </dl>
                    <dl>
                        <dt>Department Description</dt>
                        <dd>{{ departmentInfo.departmentDesc }}</dd>
                    </dl>
                    <dl>
                        <dt>Department Manager</dt>
                        <dd>{{ departmentInfo.firstName }}-{{ departmentInfo.lastName}}</dd>
                    </dl>
                    <dl>
                        <dt>Department Status</dt>
                        <dd>{{ $codeConverter.codeToString(statusCodeList,departmentInfo.statusCode) }}</dd>
                    </dl>
                    <dl>
                        <dt>First Register Date</dt>
                        <dd>{{ $format.formatDateTime(department.firstRegisterDate,'yyyy-mm-dd') }}</dd>
                    </dl>
                    <dl>
                        <dt>Last Change Date</dt>
                        <dd>{{ $format.formatDateTime(department.lastChangeDate,'yyyy-mm-dd') }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" @click="handleClose"><span>Close</span></button>
                </div>
            </div>
        </div>
    </div>
</div>