<div class="popup">
    <div class="popWrap w70p">
        <div class="pop_head">
            <h1 class="text-center text-dark">{{ $t('department.detail') }}</h1>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <TabView>
                    <!-- Subject List Details Tab -->
                    <TabPanel :header="$t('department.detail')">
                        <div class="dlist05 type02 p-2" v-if="departmentInfo != ''">
                            <dl>
                                <dt>{{ $t('department.depID') }}</dt>
                                <dd>{{ departmentInfo.departmentID }}</dd>
                            </dl>
                            <dl>
                                <dt>{{ $t('department.depName') }}</dt>
                                <dd>{{ departmentInfo.departmentName }}</dd>
                            </dl>
                            <dl>
                                <dt>{{ $t('department.depDesc') }}</dt>
                                <dd>{{ departmentInfo.departmentDesc }}</dd>
                            </dl>
                            <dl>
                                <dt>{{ $t('department.depManager') }}</dt>
                                <dd>{{ departmentInfo.firstName }}-{{ departmentInfo.lastName}}</dd>
                            </dl>
                            <!-- <dl>
                                <dt>{{ $t('department.statusCode') }}</dt>
                                <dd>{{ $codeConverter.codeToString(statusCodeList,departmentInfo.statusCode, 'statusCode') }}</dd>
                            </dl> -->
                            <dl>
                                <dt>{{ $t('department.firstRegisterDate') }}</dt>
                                <dd>{{ $format.formatDateTime(department.firstRegisterDate,'yyyy-mm-dd','Slash','FullMonth') }}</dd>
                            </dl>
                            <dl>
                                <dt>{{ $t('department.lastChangeDate') }}</dt>
                                <dd>{{ $format.formatDateTime(department.lastChangeDate,'yyyy-mm-dd','Slash','FullMonth') }}</dd>
                            </dl>
                        </div>
                        <table v-else>
                            <tr rowspan="3">
                                <th>{{ $t('common.noData') }}</th>
                            </tr>
                        </table>
                    </TabPanel>
                    <!-- Student List Details Tab -->
                    <TabPanel :header="$t('department.teacherList')">
                        <DataTable 
                            v-if="departmentMemberInfo && departmentMemberInfo.length > 0" 
                            :value="departmentMemberInfo" 
                            stripedRows
                        >
                            <Column field="no" :header="$t('common.no')" class="text-center"/>
                            <Column field="teacherID" :header="$t('user.teacherID')" />
                            <Column field="fullName" :header="$t('user.name')" />
                            <Column field="gender" :header="$t('user.gender')" />
                            <Column field="roleID" :header="$t('user.role')" />
                            <Column :header="$t('user.phone')">
                                <template #body="{ data }">
                                    <span>{{ $phoneNumberFormater.formatPhoneNumber(data.phone) }}</span>
                                </template>
                            </Column>
                            <Column :header="$t('action.action')">
                                <template #body="{ data }">
                                    <div class="d-flex justify-content-center">
                                        <font-awesome-icon style="background-color: #dc3545;padding: 4px;border-radius: 8px;" @click="onClickAction(data, '02')" icon="fa-solid fa-trash" class="text-white" :title="$t('action.delete')" />
                                    </div>
                                </template>
                            </Column>
                        </DataTable>
                        <table v-else>
                            <tr>
                                <th class="text-danger">{{ $t('common.noData') }}</th>
                            </tr>
                        </table>
                    </TabPanel>
                </TabView>
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" @click="handleClose"><span>{{ $t('common.close') }}</span></button>
                </div>
            </div>
        </div>
    </div>
</div>