<!-- <MyLoading v-if="Loading" /> -->
<Toast />
<ConfirmDialog></ConfirmDialog>
<div class="container-fluid d-flex flex-column p-0" style="overflow: hidden;">
    <!-- header -->
    <div class="container-fluid p-0 d-flex justify-content-between">
        <div class="breadcrumb">
            <font-awesome-icon :icon="['fa', 'shop']" />
            <span class="text_title mx-1">{{ $t('room.title') }}</span>
        </div>
        <button class="btn btn-primary p-1 px-2" @click="onClickInsert()">
            <span class="mx-1">{{ $t('common.addNew') }}</span>
        </button>
    </div>
    <!-- header -->

    <!-- search-bar -->
    <!-- <div class="container-fluid px-0 py-4">
        <div class="row">
            <div class="col-md-3">
                <label class="form-label font_14">{{ $t('class.year') }}</label>
                <select class="form-select" v-model="selectYear" @click="getClassList()">
                    <option value="" disabled>{{ $t('class.selectYear') }}</option>
                    <option v-for="year in yearList" :value="year.codeValue">
                        {{ year.codeValueDesc }}
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label font_14">{{ $t('class.semester') }}</label>
                <select class="form-select" v-model="selectSemester" @click="getClassList()">
                    <option value=null disabled>{{ $t('class.selectSemester') }}</option>
                    <option v-for="semester in semesterList" :value="semester.codeValue">
                        {{ semester.codeValueDesc }}
                    </option>
                </select>
            </div>
        </div>
    </div> -->

    <div class="mt-3"></div>
    <div class="float-end">
        <button type="button" class="rad_right btn btn-dark b_shadow p-2 px-2 float-end font_15" @click.prevent="getClassList()">
            {{ $t('common.search') }}
        </button>
        <InputGroup class="float-end w-25">
            <InputText @keyup="getClassList()" class="p-1 font_15 rad_left b_shadow c_input" v-model="searchKeyword" :placeholder="$t('common.searchKey')"  style="height: 40.5px;padding-left: 15px !important;"/>
        </InputGroup>
        <button type="button" class="btn btn-dark p-2 px-2 font_15" @click="exportToExcel">
            <span class="mx-2">{{ $t('common.downloadExcel') }}</span>
            <font-awesome-icon :icon="['fas', 'file-excel']" />
        </button>
    </div>

    <!-- search-bar -->
    
    <div class="mt-3"></div>
    <div class="b_shadow">
        <DataTable 
            v-model:selection="roomInfo" 
            tableStyle="min-width: 50rem"
            selectionMode="single" 
            scrollable 
            :value="roomList" 
            :metaKeySelection="true" 
            :rows="pageSize" 
            :lazy="true"
            :paginator="true" 
            :totalRecords="totalCount" 
            :rowsPerPageOptions="[10, 20, 50, 100]" 
            @page="onPage"
            :rowClass="rowClass">
            <Column field="no" :header="$t('common.no')" :class="customNoRoom"></Column>
            <Column field="roomID" :header="$t('room.roomID')"></Column>
            <Column field="roomName" :header="$t('room.roomName')"></Column>
            <Column field="building" :header="$t('room.building')"></Column>
            <Column field="roomDesc" :header="$t('room.roomDesc')"></Column>
            <Column field="floor" :header="$t('room.floor')"></Column>
            <Column field="statusCode" :header="$t('room.statusCode')" style="min-width: 100px">
                <template #body="{ data }">
                    {{ $codeConverter.codeToString(statusCodeList, data.statusCode) }}
                </template>
            </Column>
            <Column :header="$t('class.edit')" class="text-center">
                <template #body="{ data }">
                    <div class="d-flex align-items-center justify-content-evenly">
                        <div v-if="data.statusCode === '01'">
                            <font-awesome-icon @click="onClickEdit(data)" :icon="['fas', 'fa-pencil']" class="text-primary" title="Edit" />&nbsp;
                            <font-awesome-icon @click="setRoom(data)" :icon="['fas', 'fa-eye-slash']" class="text-warning" title="Set to Inactive" />&nbsp;
                            <font-awesome-icon @click="deleteRoom(data)" :icon="['fas', 'fa-x']" class="text-danger" title="Delete the record" />
                        </div>
                        <div v-else>
                            <font-awesome-icon @click="setActive(data)" :icon="['fas', 'fa-eye']" title="Set to Active" />
                        </div>
                    </div>
                </template>
            </Column>
        </DataTable>
    </div>
    <div class="p-1"></div>
</div>