<!-- <MyLoading v-if="Loading" /> -->
<Toast />
<ConfirmDialog></ConfirmDialog>
<div class="container-fluid d-flex flex-column we_box" style="overflow: hidden;">
    <div class="container-fluid p-0 d-flex justify-content-between">
        <div class="breadcrumb">
            <font-awesome-icon :icon="['fa', 'shop']" />
            <span class="text_title mx-1">{{ $t('room.title') }}</span>
        </div>
        <div>
            <button type="button" class="btn btn-dark p-1 px-2">
                <span class="mx-2">{{ $t('common.downloadExcel') }}</span>
                <font-awesome-icon :icon="['fas', 'file-excel']" />
            </button>&nbsp;
            <button class="btn btn-primary p-1 px-2">
                <span class="mx-1">{{ $t('common.addNew') }}</span>
                <font-awesome-icon :icon="['fas', 'plus']" />
            </button>
        </div>
    </div>
    <div class="float-end mt-3">
        <button type="button" class="rad_right btn btn-dark b_shadow p-2 px-2 float-end font_15">{{ $t('common.search') }}</button>
        <InputGroup class="float-end w-25">
            <InputText class="p-1 font_15 rad_left b_shadow c_input" v-model="searchKeyword"
                :placeholder="$t('common.searchKey')" style="height: 40.5px;padding-left: 15px !important;" />
        </InputGroup>
    </div>
</div>

<div class="we_box mt-3">
    <div class="b_shadow">
        <DataTable :value="studentScoreList" responsiveLayout="scroll">
            <Column field="studentID" header="Student ID"></Column>
            <Column field="firstName" header="First Name"></Column>
            <Column field="lastName" header="Last Name"></Column>
            <Column field="gender" header="Gender"></Column>
            <Column field="phoneNumber" header="Phone Number"></Column>
            <Column v-for="subject in sujectList" 
                :key="subject" 
                :field="subject" 
                :header="subject">
            </Column>
        </DataTable>
    </div>
    <div class="p-3"></div>
</div>