<!-- <MyLoading v-if="Loading" /> -->
<Toast />
<ConfirmDialog></ConfirmDialog>
<div class="container-fluid d-flex flex-column we_box" style="overflow: hidden;">
    <div class="container-fluid p-1 d-flex justify-content-between">
        <div class="breadcrumb">
            <font-awesome-icon :icon="['fa', 'fa-medal']" />
            <span class="text_title mx-1">{{ $t('score.title') }}</span>
        </div>
        <div>
            <button type="button" class="btn btn-dark p-1 px-2" @click="exportToExcel" :disabled="checkTotal">
                <span class="mx-2">{{ $t('common.downloadExcel') }}</span>
                <font-awesome-icon :icon="['fas', 'file-excel']" />
            </button>
        </div>
    </div>
    <div class="container-fluid px-0 py-2">
        <div class="row">
            <div class="col-md-3">
                <label class="form-label font_14">{{ $t('class.selectDepartment') }}</label>
                <select class="form-select" v-model="filterInfo.departmentID">
                    <option value=""><span>{{ $t('common.all') }}</span></option>
                    <option v-for="department in departmentList" :value="department.departmentID">
                        <span>{{ department.departmentID }} - {{ department.departmentName }}</span>
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label font_14">{{ $t('schedule.selectYear') }}</label>
                <select class="form-select" v-model="filterInfo.classYear" @change="getClassList">
                    <option value="">{{ $t('common.all') }}</option>
                    <option v-for="year in yearList" :value="year.codeValue">
                        <span>{{ year.codeValueDesc }}</span>
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label font_14">{{ $t('class.selectSemester') }}</label>
                <select class="form-select" v-model="filterInfo.semester" @change="getClassList">
                    <option value="">{{ $t('common.all') }}</option>
                    <option v-for="semester in semesterList" :value="semester.codeValue">
                        <span>{{ semester.codeValueDesc }}</span>
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label font_14">{{ $t('class.selectClass') }}</label>
                <select :class="['form-select', isSelectedClassID ? '': 'selectBorder']" v-model="classInfo" @change="setData">
                    <option v-for="classInfo in classList" :value="classInfo">
                        <p class="m-0 p-0">{{ classInfo.className }}</p>
                        <p class="m-0 p-0">-{{ $t('schedule.classYear') }} {{ classInfo.year }}</p>
                        <p class="m-0 p-0">-{{ $t('schedule.semester') }} {{ classInfo.semester }}</p>
                    </option>
                </select>
            </div>
        </div>
        <div class="py-2"></div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-info p-2 px-4 mx-1 float-end font_15" :disabled="!isValidFilterInfo" @click="onClearFilterInfo(true)">{{ $t('common.clearFilter') }}</button>
            <button class="btn btn-dark p-2 px-4 mx-1 float-end font_15" :disabled="isDisableSearchBtn" @click="onGetStudentScoreList">{{ $t('common.search') }}</button>
        </div>
    </div>
</div>
<div class="we_box mt-3">
    <div class="b_shadow">
        <div class="my-5"></div>
        <div class="container-fluid px-0 pt-0 pb-2" v-if="studentScoreList.length > 0">
            <DataTable
                removableSort
                :value="studentScoreList" 
                responsiveLayout="scroll"
                editMode="cell" 
                @cell-edit-complete="onCellEditComplete">
                <Column field="seqNo" :header="$t('common.no')" class="text-center" style="min-width: 80px;"></Column>
                <Column sortable field="studentID" :header="$t('user.studentID')" style="min-width: 180px;"></Column>
                <Column sortable field="fullName" :header="$t('user.name')" style="min-width: 200px;"></Column>
                <Column :header="$t('user.gender')" style="min-width: 80px;">
                    <template #body="{ data }">
                        <span>{{ $codeConverter.codeToString(genderCodeList,data.gender, 'genderCode') }}</span>
                    </template>
                </Column>
                <Column :header="$t('user.phone')" style="min-width: 150px;">
                    <template #body="{ data }">
                        <span>{{ $phoneNumberFormater.formatPhoneNumber(data.phoneNumber) }}</span>
                    </template>
                </Column>
                <Column v-for="subject in subjectList" 
                    sortable
                    :key="subject.subjectID" 
                    :field="subject.subjectName" 
                    :header="subject.subjectName"
                    style="min-width: 200px;">
                    <template #editor="{ data, field, key }">
                        <InputNumber v-model="data[field]" autofocus :min="0" :max="100"/>
                    </template>
                </Column> 
                <Column sortable field="totalScore" :header="$t('score.totalScore')" class="text-danger text-center" style="min-width: 150px;"></Column>
                <Column sortable field="average" :header="$t('score.average')" class=" text-center text-danger" style="min-width: 150px;"></Column>
                <Column sortable field="grade" :header="$t('score.grade')" class="text-center text-danger" style="min-width: 150px;"></Column>
            </DataTable>
            <div class="container-fluid d-flex justify-content-end my-4">
                <button class="btn btn-info px-5" @click="onClickSave">{{ $t('common.save') }}</button>
            </div>
        </div>
        <span class="d-flex justify-content-center p-3 text-center text-danger" v-else>{{ $t('common.noData') }}</span>
    </div>
    <div class="p-3"></div>
</div>