<div class="popup">
    <div class="popWrap w920">
        <div class="pop_head">
            <h1 class="text-center">Student Information Detail</h1>
            <ion-button class="btn_pop_close" @click="handleClose">Close</ion-button>
        </div>
        <div class="pop_cont">
            <h2>{{ studentDetail.body?.firstName }} {{ studentDetail.body?.lastName }}</h2>
            <div class="cont">
                <div class="dlist05 border_top">
                    <div class="dlist05 type02 border_top">
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ studentDetail.body?.firstName }} {{ studentDetail.body?.lastName }}</dd>
                        </dl>
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ studentDetail.body?.firstName }} {{ studentDetail.body?.lastName }}</dd>
                        </dl>
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ studentDetail.body?.firstName }} {{ studentDetail.body?.lastName }}</dd>
                        </dl>
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ studentDetail.body?.firstName }} {{ studentDetail.body?.lastName }}</dd>
                        </dl>
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ studentDetail.body?.firstName }} {{ studentDetail.body?.lastName }}</dd>
                        </dl>
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ studentDetail.body?.firstName }} {{ studentDetail.body?.lastName }}</dd>
                        </dl>
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ studentDetail.body?.firstName }} {{ studentDetail.body?.lastName }}</dd>
                        </dl>
                    </div>
                    <!-- <div class="gridWrap">
                        <div class="tableWrap">
                            <table class="table01 fixed">
                                <colgroup>
                                    <col style="width: 180px" />
                                    <col style="width: 280px" />
                                    <col style="width: 280px" />
                                    <col style="width: 280px" />
                                    <col style="width: 280px" />
                                    <col style="width: 280px" />
                                    <col style="width: 280px" />
                                    <col style="width: 280px" />
                                    <col style="width: 280px" />
                                </colgroup>
                                <thead class="sticky_head">
                                    <tr>
                                        <th v-for="(header, index) in tableHeader">
                                            <span :key="index" :class="header.showSort && $format.iconSort(header.ascending)" @click="$format.sortAscDesc(billPaymentList, header.ascending, header.key); header.ascending = !header.ascending"> {{ header.title }} </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tbody_section">
                                    <tr v-for="(data,index) in billPaymentList">
                                        <td>{{index+1}}</td>
                                        <td><span>{{$codeConverter.codeToString(billTypeList,data.billerType)}}</span></td>
                                        <td><span>{{$codeConverter.codeToString(mainBillerStandardCodeList,data.mainBiller)}}</span></td>
                                        <td><span>{{data.billerName}}</span></td>
                                        <td class="txt_right"><span>{{$format.formatCurrency(data.amount,data.currencyTransfer)}}</span></td>
                                        <td class="txt_right"><span>{{$format.formatCurrency(data.feeCharge,data.currencyTransfer)}}</span></td>
                                        <td><span>{{data.currencyTransfer}}</span></td>
                                        <td><span>{{data.consumerNo}}</span></td>
                                        <td><span>{{data.consumerName}}</span></td>
                                        <td><span>{{data.remark ? data.remark : '-'}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> -->
                </div>
                <!--  <div class="txt_cont d-flex flex-row">
                    <p>{{ studentDetail.body?.studentID }}</p>
                    <p>{{ studentDetail.body?.firstName }}</p>
                    <p>{{ studentDetail.body?.lastName }}</p>
                    <p>{{ studentDetail.body?.nickName}}</p>
                    <p>{{ studentDetail.body?.gender }}</p>
                    <p>{{ studentDetail.body?.dateOfBirth }}</p>
                    <p>{{ studentDetail.body?.placeOfBirth }}</p>
                    <p>{{ studentDetail.body?.address }}</p>
                    <p>{{ studentDetail.body?.phone }}</p>
                    <p>{{ studentDetail.body?.email }}</p>
                    <p>{{ studentDetail.body?.passwd }}</p>
                    <p>{{ studentDetail.body?.imageUrl }}</p>
                </div> -->
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <ion-button class="btn01" @click="handleClose"><span>Close</span></ion-button>
                </div>
            </div>
        </div>
    </div>
</div>