<Toast />
<ConfirmationDialog v-if="editConfirmationVisible" @confirm="confirmEdit" @cancel="cancelEdit" />
<div class="popup">
    <div class="popWrap w70p">
        <div class="pop_head">
            <h1 class="text-center text-dark" v-if="isInsert">Subject Register</h1>
            <h1 class="text-center text-dark" v-else>Subject Edit</h1>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="row d-flex justify-content-center" v-if="isInsert">
                                <div class="col-lg-3 col-md-4 mb-2">
                                    <center>
                                        <label class="form-label font_15">Select Class</label><br>
                                    </center>
                                    <select class="form-select" v-model="subjectInfo.classID">
                                        <option v-for="classItem in classList" :value="classItem.classID">
                                            {{ classItem.className }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center" v-else>
                                <div class="col-lg-3 col-md-4 mb-2">
                                    <center>
                                        <label class="form-label font_15">Class Name</label><br>
                                    </center>
                                    <select class="form-select" v-model="subjectInfo.classID" disabled>
                                        <option v-for="classItem in classList" :value="classItem.classID">
                                            {{ classItem.className }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset class="border rounded-3 pb-2">
                        <legend class="float-none w-auto m_left20 px-2 h5">Subject</legend>
                        <div class="row p-3">

                            <div class="col-lg-3 col-md-4 mb-2">
                                <label class="form-label font_15">{{ $t('subject.subjectName') }}</label><br>
                                <InputText v-model="subjectInfo.subjectName" :invalid="fieldNameValidate" />
                            </div>

                            <div class="col-lg-6 col-md-4 mb-2">
                                <label class="form-label font_15">{{ $t('subject.subjectDesc') }}</label><br>
                                <Textarea v-model="subjectInfo.subjectDesc" rows="5" cols="30"
                                    :invalid="fieldDesValidate" />
                            </div>

                            <div class="col-lg-3 col-md-4 mb-2" v-if="!isInsert">
                                <label class="form-label font_15">Status</label><br>
                                <select class="form-select" v-model="subjectInfo.statusCode">
                                    <option v-for="status in statusCodeList" :value="status.codeValue">
                                        {{ status.codeValueDesc }}
                                    </option>
                                </select>
                            </div>

                            <div class="col-lg-3 col-md-4 mb-2" v-if="isInsert">
                                <button class="btn btn-info w-100" style="margin-top: 30.5px;" @click="saveSubject">
                                    <font-awesome-icon :icon="['fa', 'plus']" />
                                    <span class="mx-2">Add Subject</span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="row mt-4" v-if="isInsert">
                    <div class="col-12">
                        <div class="we_shadow">
                            <DataTable v-if="subjectList.length > 0" :value="subjectList">
                                <Column field="seqNo" :header="$t('common.no')" class="text-start"></Column>
                                <Column field="subjectName" :header="$t('subject.subjectName')"></Column>
                                <Column field="subjectDesc" :header="$t('subject.subjectDesc')"></Column>
                                <Column :header="$t('subject.edit')" class="text-center">
                                    <template #body="{ data }">
                                        <font-awesome-icon style="cursor: pointer;" @click="onClickEdit(data)"
                                            icon="fas fa-pencil" class="text-primary" title="Edit" />&nbsp;
                                        <font-awesome-icon style="cursor: pointer;" @click="onClickDelete(data)"
                                            icon="fa-solid fa-trash" class=" text-danger" title="Delete" />
                                    </template>
                                </Column>
                            </DataTable>

                            <table v-else>
                                <thead>
                                    <tr class="text-capitalize">
                                        <th class="we_text_color">{{ $t('common.no') }}</th>
                                        <th class="we_text_color">{{ $t('subject.subjectName') }}</th>
                                        <th class="we_text_color">{{ $t('subject.subjectDesc') }}</th>
                                        <th class="we_text_color">{{ $t('subject.edit') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="text-danger">No data records available.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" style="width:185px" @click="onClose">Close</button>
                    <button class="btn01" style="width:185px"
                        @click="isInsert ? subjectInsert() : subjectEdit()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>