<Toast />
<ConfirmationDialog v-if="editConfirmationVisible" @confirm="confirmEdit" @cancel="cancelEdit" />
<div class="popup">
    <div class="popWrap w70p">
        <div class="pop_head">
            <div v-if="isAdd" class="w-100">
                <h1 class="text-center text-dark" v-if="isAdd">Add More Subject</h1>
            </div>
            <div v-else class="w-100">
                <h1 class="text-center text-dark" v-if="isInsert">{{ $t('subject.register') }}</h1>
                <h1 class="text-center text-dark" v-else>{{ $t('subject.editSub') }}</h1>
            </div>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-5 col-md-6 mb-2">
                                    <center>
                                        <label class="form-label font_15"> {{ isInsert ? $t('subject.selectClass') : $t('class.className')}}</label><br>
                                    </center>
                                    <select class="form-select font-bold text-dark" v-model="subjectInfo.classInfoID" :disabled="isAdd || !isInsert">
                                        <option v-for="classItem in classList" :value="classItem.classInfoID">
                                            {{ classItem.className }} - (Y: {{ classItem.year }} - S: {{ classItem.semester }})
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset class="border rounded-3 pb-2">
                        <legend class="float-none w-auto m_left20 px-2 h5">{{ $t('subject.subjectInfo') }}</legend>
                        <div class="row p-3">
                            <div class="col-lg-3 col-md-4 mb-2">
                                <label class="form-label font_15">{{ $t('subject.subjectName') }}</label><br>
                                <InputText v-model="subjectInfo.subjectName" :invalid="fieldNameValidate" />
                            </div>
                            <div class="col-lg-6 col-md-4 mb-2">
                                <label class="form-label font_15">{{ $t('subject.subjectDesc') }}</label><br>
                                <Textarea v-model="subjectInfo.subjectDesc" rows="5" cols="30" :invalid="fieldDesValidate" />
                            </div>
                            <div class="col-lg-3 col-md-4 mb-2" v-if="!isInsert">
                                <label class="form-label font_15">{{ $t('subject.statusCode') }}</label><br>
                                <select class="form-select" v-model="subjectInfo.statusCode">
                                    <option v-for="status in statusCodeList" :value="status.codeValue">
                                        {{ status.codeValueDesc }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-4 mb-2" v-if="isInsert">
                                <button class="btn btn-info w-100" style="margin-top: 30.5px;" @click="onAddSubjectToList">
                                    <font-awesome-icon :icon="['fa', 'plus']" />
                                    <span class="mx-2">{{ $t('subject.addSubject') }}</span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="row mt-4" v-if="isInsert && (isAdd || !isAdd)">
                    <div class="col-12">
                        <div class="we_shadow">
                            <DataTable v-if="subjectList.length > 0" :value="subjectList">
                                <Column field="no" :header="$t('common.no')" class="text-center"></Column>
                                <Column field="subjectName" :header="$t('subject.subjectName')"></Column>
                                <Column field="subjectDesc" :header="$t('subject.subjectDesc')"></Column>
                                <Column :header="$t('subject.edit')" class="text-center">
                                    <template #body="{ data }">
                                        <font-awesome-icon style="cursor: pointer;" icon="fas fa-pencil" class="text-primary mx-2" title="Edit" @click="onClickEdit(data)"/>
                                        <font-awesome-icon style="cursor: pointer;" icon="fa-solid fa-trash" class=" text-danger" title="Delete" @click="onClickDelete(data)"/>
                                    </template>
                                </Column>
                            </DataTable>
                            <table v-else>
                                <thead>
                                    <tr class="text-capitalize">
                                        <th class="we_text_color">{{ $t('common.no') }}</th>
                                        <th class="we_text_color">{{ $t('subject.subjectName') }}</th>
                                        <th class="we_text_color">{{ $t('subject.subjectDesc') }}</th>
                                        <th class="we_text_color">{{ $t('subject.edit') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="text-danger">{{ $t('common.noData') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" style="width:185px" @click="onClose">{{ $t('common.cancel') }}</button>
                    <div v-if="isInsert==true&&isAdd==false">
                        <button class="btn01" style="width:185px" @click="registerSubjectInfo()">
                            {{ $t('common.save') }} Register
                        </button> 
                    </div>
                    <div v-if="isInsert==true&&isAdd==true">
                        <button class="btn01" style="width:185px" @click="addSubjectInfo()">
                            {{ $t('common.save') }} Add
                        </button> 
                    </div>
                    <div v-if="isInsert==false&&isAdd==false">
                        <button class="btn01" style="width:185px" @click="updateSubjectInfo()">
                            {{ $t('common.save') }} Update
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



