<div id="nav" th:fragment="nav">
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a th:href="@{/}" class="site_title"> <strong class="ppcb_logo">Logo Icon</strong> <span class="text" th:text="${bankName}"></span> </a>
            </div>
            
            <div class="clearfix"></div>
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                         <li class="hide MN_ADM_000_01"><a><i class="fa fa-users" aria-hidden="true"></i><span th:text="#{MENU.ADMINISTRATION}"> Administration </span><span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu hide MN_ADM_101_01"><a th:text="#{MENU.DEPARTMENT}" th:href="@{/ADM_101_01}">Department<span class="fa fa-chevron-down"></span></a></li>
                                <li class="sub_menu hide MN_ADM_201_01"><a th:text="#{MENU.USER}" th:href="@{/ADM_201_01}">User<span class="fa fa-chevron-down"></span></a></li>
                                <li class="sub_menu hide MN_ADM_301_01"><a th:text="#{MENU.ROLE}" th:href="@{/ADM_301_01}">Role<span class="fa fa-chevron-down"></span></a></li>
                                <li class="sub_menu hide MN_ADM_401_01"><a th:text="#{MENU.MENU}" th:href="@{/ADM_401_01}">Menu<span class="fa fa-chevron-down"></span></a></li>
                                <li class="sub_menu hide MN_ADM_501_01"><a th:text="#{MENU.HOST}" th:href="@{/ADM_501_01}">Host</a></li>
                                <li class="sub_menu hide MN_ADM_601_01"><a th:text="#{MENU.SERVER}" th:href="@{/ADM_601_01}">Server</a></li>
                                <li class="sub_menu hide MN_ADM_701_01"><a th:text="#{MENU.SETTING}" th:href="@{/ADM_701_01}">Setting<span class="fa fa-chevron-down"></span></a></li>
                            </ul>
                        </li>
                    
                        <li class="hide MN_CBS_000_01"><a><i class="fa fa-bank"></i><span th:text="#{MENU.CORE_BANKING}" > Core Banking </span><span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="hide MN_CBS_000_02"><a><span th:text="#{MENU.PARAMETER}" >Parameter</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu hide MN_CBS_001_01"><a th:href="@{/CBS_001_01}" th:text="#{MENU.SERVICE_PARAMETER}">Service Parameter</a></li>
                                        <li class="sub_menu hide MN_CBS_003_01"><a th:href="@{/CBS_003_01}" th:text="#{MENU.COMMON_ITEM}">Common Transaction Parameter Items</a></li>
                                        <li class="sub_menu hide MN_CBS_005_01"><a th:href="@{/CBS_005_01}" th:text="#{MENU.PASSBOOK_SLIP_FORM}">Passbook and Slip Form</a></li>
                                        <li class="sub_menu hide MN_CBS_007_01"><a th:href="@{/CBS_007_01}" th:text="#{MENU.TRANSACTION_PARAMETER}">Transaction Parameter</a></li>												
                                        <li class="sub_menu hide MN_CBS_009_01"><a th:href="@{/CBS_009_01}" th:text="#{MENU.LOG_PARAMETER}">Log Parameter</a></li>
                                        <li class="sub_menu hide MN_CBS_011_01"><a th:href="@{/CBS_011_01}" th:text="#{MENU.LINK_INTERFACE}">Link Interface Parameter</a></li>	
                                        <li class="sub_menu hide MN_CBS_011_02"><a th:href="@{/CBS_011_02}" th:text="#{MENU.LINK_PARAMETER}">Link Parameter</a></li>	
                                    </ul>
                                </li>
                                <li class="hide MN_CBS_000_03"><a><span th:text="#{MENU.LOG}" >Log</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu hide MN_CBS_101_01"><a th:href="@{/CBS_101_01}" th:text="#{MENU.TRANSACTION_LOG}">Transaction Log</a></li>
                                        <li class="sub_menu hide MN_CBS_103_01"><a th:href="@{/CBS_103_01}" th:text="#{MENU.ERROR_LOG}">Error Log</a></li>
                                        <li class="sub_menu hide MN_CBS_104_01"><a th:href="@{/CBS_104_01}" th:text="#{MENU.BUSINESS_LOG}">Business Log</a></li>
                                    </ul>
                                </li>
                                <li class="hide MN_CBS_000_05">	<a th:href="@{/CBS_000_05}" th:text="#{MENU.MESSAGE_LAYOUT_MASTER}">Message Layout Master</a></li>
                                <li class="hide MN_CBS_000_04"><a><span th:text="#{MENU.SYSTEM}" >System</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu hide MN_CBS_110_01"><a th:href="@{/CBS_110_01}" th:text="#{MENU.EX_ROUTINGINFO}">Organization Code</a></li>
                                        <li class="sub_menu hide MN_CBS_111_01"><a th:href="@{/CBS_111_01}" th:text="#{MENU.BUSINESS_CODE}">Business Code</a></li>
                                        <li class="sub_menu hide MN_CBS_105_01"><a th:href="@{/CBS_105_01}" th:text="#{MENU.SYSTEM_BATCH}">System Batch</a></li>
                                        <li class="sub_menu hide MN_CBS_106_01"><a th:href="@{/CBS_106_01}" th:text="#{MENU.BUSINESS_DATE}">Business Date</a></li>
                                        <li class="sub_menu hide MN_CBS_107_01"><a th:href="@{/monitoring}" th:text="#{MENU.MONITORING}" target="blank" >Monitoring</a></li>
                                        <li class="sub_menu hide MN_CBS_115_01"><a th:href="@{/smshistory}" th:text="#{MENU.SMS_HISTORY}" target="blank" >SMSHistory</a></li>
                                        <li class="sub_menu hide MN_CBS_108_01"><a th:href="@{/CBS_108_01}" th:text="#{MENU.UAT_CONTROL}">UAT Control</a></li>
                                        <li class="sub_menu hide MN_CBS_109_01"><a th:href="@{/CBS_109_01}" th:text="#{MENU.PRODUCTION_CONTROL}">Production Control</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="hide MN_BAT_000_01"><a><i class="fa fa-sitemap"></i><span th:text="#{MENU.BATCH}">Batch</span>  <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu hide MN_BAT_000_02"><a><span th:text="#{MENU.SYSTEM}">System</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">	
                                        <li class="sub_menu hide MN_BAT_111_01"><a th:href="@{/BAT_111_01}" th:text="#{MENU.SCHEDULER}">Scheduler</a></li>
                                        <li class="sub_menu hide MN_BAT_116_01"><a th:href="@{/BAT_116_01}" th:text="#{MENU.AGENT}">Agent</a></li>
                                        <li class="sub_menu hide MN_BAT_121_01"><a th:href="@{/BAT_121_01}" th:text="#{MENU.SHELL_SCRIPT}">Shell script</a></li>
                                        <li class="sub_menu hide MN_BAT_211_01"><a th:href="@{/BAT_211_01}" th:text="#{MENU.DEFERRED_NODE}">Deferred Node</a></li>
                                        <li class="sub_menu hide MN_BAT_214_01"><a th:href="@{/BAT_214_01}" th:text="#{MENU.CENTERCUT_NODE}">Centercut Node</a></li>
                                    </ul>
                                </li>
                                <li class="sub_menu hide MN_BAT_000_03"><a><span th:text="#{MENU.JOB}">Job</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">	
                                        <li class="sub_menu hide MN_BAT_251_01"><a th:href="@{/BAT_251_01}" th:text="#{MENU.TOKENS}">Tokens</a></li>
                                        <li class="sub_menu hide MN_BAT_201_01"><a th:href="@{/BAT_201_01}" th:text="#{MENU.BATCH_JOBES}">Batch Job</a></li>
                                        <li class="sub_menu hide MN_BAT_271_01"><a th:href="@{/BAT_271_01}" th:text="#{MENU.ORDER_JOB_RESULT}">Order Job Result</a></li> 
                                        <li class="sub_menu hide MN_BAT_221_01"><a th:href="@{/BAT_221_01}" th:text="#{MENU.ORDER_JOB}">Order Job History</a></li> 
                                        <li class="sub_menu hide MN_BAT_261_01"><a th:href="@{/BAT_261_01}" th:text="#{MENU.ORDER_TOKENS}">Order Tokens</a></li> 
                                    </ul>
                                </li>
                                <li class="sub_menu hide MN_BAT_000_04"><a><span th:text="#{MENU.DEFERRED_SERVIVCE}">Deferred Service</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">	
                                        <li class="sub_menu hide MN_BAT_301_01"><a th:href="@{/BAT_301_01}" th:text="#{MENU.SERVICE_INFO}">Service Info</a></li>
                                        <li class="sub_menu hide MN_BAT_321_01"><a th:href="@{/BAT_321_01}" th:text="#{MENU.SERVICE_STATUS}">Service Status</a></li>
                                    <!-- 	<li class="sub_menu hide MN_BAT_331_01"><a th:href="@{/BAT_331_01}" th:text="#{MENU.SERVICE_HISTORY}">Service History</a></li> 
                                        <li class="sub_menu hide MN_BAT_341_01"><a th:href="@{/BAT_341_01}" th:text="#{MENU.INSTANCE_MGMT}">Instance mgmt</a></li> 
                                        <li class="sub_menu hide MN_BAT_351_01"><a th:href="@{/BAT_351_01}" th:text="#{MENU.WATCHER_FILE}">Watcher File</a></li>  -->
                                    </ul>
                                </li>
                                <li class="sub_menu hide MN_BAT_000_05"><a><span th:text="#{MENU.CENTERCUT_SERIVCE}">Centercut Service</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">	
                                        <li class="sub_menu hide MN_BAT_401_01"><a th:href="@{/BAT_401_01}" th:text="#{MENU.SERVICE_STATUS}">Service Info</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="hide MN_APR_000_01"><a><i class="fa fa-unlock-alt" aria-hidden="true"></i><span th:text="#{MENU.APPROVAL}"> Approval </span><span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu hide MN_APR_101_01"><a th:href="@{/APR_101_01}" th:text="#{MENU.WAITING_LIST}">Waiting List</a></li>
                                <li class="sub_menu hide MN_APR_101_01"><a th:href="@{/APR_201_01}" th:text="#{MENU.APPROVED_LIST}">Approved list</a></li>
                                <li class="sub_menu hide MN_APR_101_01"><a th:href="@{/APR_203_01}" th:text="#{MENU.APPROVED_LINE_TEM}">Approved Line Template</a></li>
                            </ul>
                        </li>
                        
                        <li class="hide MN_VMG_000_01"><a><i class="fa fa-paste" aria-hidden="true"></i><span th:text="#{MENU.VERSION_MGMT}"> Version Mgmt </span><span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu hide MN_VMG_101_01"><a th:href="@{/VMG_101_01}" th:text="#{MENU.TEST_DEPLOY_LIST}">Test Deploy Request List</a></li>
                                <li class="sub_menu hide MN_VMG_201_01"><a th:href="@{/VMG_201_01}" th:text="#{MENU.PRO_DEPLOY_LIST}">Production Deploy Request List</a></li>
                                
                                <!-- <li class="sub_menu hide MN_VMG_000_02"><a><span th:text="#{MENU.FOR_TEST}" >For Test</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu hide MN_VMG_101_01"><a th:href="@{/VMG_101_01}" th:text="#{MENU.TEST_DEPLOY_LIST}">Test Deploy List and result</a></li>
                                        <li class="sub_menu hide MN_VMG_105_01"><a th:href="@{/VMG_105_01}" th:text="#{MENU.SET_MODE}">Set Mode</a></li>
                                    </ul>
                                </li>
                                <li class="sub_menu hide MN_VMG_000_03"><a><span th:text="#{MENU.FOR_PRO}" >For Production</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu hide MN_VMG_201_01"><a th:href="@{/VMG_201_01}" th:text="#{MENU.REQUEST_LIST}">Request List</a></li>
                                    </ul>
                                </li> -->
                                
                                <li class="sub_menu hide MN_VMG_301_01"><a th:href="@{/VMG_301_01}"><span th:text="#{MENU.FILE_LEDGER}" >File Ledger</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="img-bottom-left-col"></div>
        
    </div>
</div>