<div class="popup">
    <div class="popWrap w90p">
        <div class="pop_head">
            <h1 class="text-center">{{ isStudentRole ? $t('user.studentDetail') : $t('user.teacherDetail') }}</h1>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="dlist05 ">
                    <div class="dlist05 type02">
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.name') }}</dt>
                            <dd>{{ userInfo.firstName }} {{ userInfo.lastName }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.nickName') }}</dt>
                            <dd>{{ userInfo.nickName }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.role') }}</dt>
                            <dd>{{ $codeConverter.codeToString(userRoleList,userInfo.roleID,'userRoleCode')}}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.gender') }}</dt>
                            <dd>{{ $codeConverter.codeToString(genderCodeList,userInfo.gender,'genderCode')}}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.dateOfBirth') }}</dt>
                            <dd>{{ userInfo.dateOfBirth }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.placeOfBirth') }}</dt>
                            <dd>{{ userInfo.placeOfBirth }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.address') }}</dt>
                            <dd>{{ userInfo.address }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.phone') }}</dt>
                            <dd>{{ $phoneNumberFormater.formatPhoneNumber(userInfo.phone) }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.email') }}</dt>
                            <dd>{{ userInfo.email }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.userID') }}</dt>
                            <dd>{{ userInfo.userID }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">{{ $t('user.password') }}</dt>
                            <dd>{{ userInfo.passwd }}</dd>
                        </dl>
                    </div>
                </div>

                <!-- student -->
                <div class="d-flex flex-column" v-if="isStudentRole">
                    <div class="mt-5">
                        <p class="h5 text-capitalize">{{ $t('user.parentDetail') }}</p>
                        <table>
                            <thead>
                                <tr class="text-capitalize">
                                    <th>{{ $t('common.no') }}</th>
                                    <th>{{ $t('user.name') }}</th>
                                    <th>{{ $t('user.gender') }}</th>
                                    <th>{{ $t('user.job') }}</th>
                                    <th>{{ $t('user.address') }}</th>
                                    <th>{{ $t('user.phone') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="parentInfo in userInfo?.studentInfo?.parentList" :key="parentInfo.seqNo">
                                    <td class="text-center">{{ parentInfo.seqNo }}</td>
                                    <td>{{ parentInfo.firstName }} {{ parentInfo.lastName }}</td>
                                    <td>{{ $codeConverter.codeToString(genderCodeList, parentInfo.gender,'genderCode') }}</td>
                                    <td>{{ parentInfo.job }}</td>
                                    <td>{{ parentInfo.address }}</td>
                                    <td>{{ $phoneNumberFormater.formatPhoneNumber(parentInfo.phone) }}</td>
                                </tr>
                                <tr v-if="!userInfo?.studentInfo?.parentList">
                                    <td colspan="7" class="text-danger">{{ $t('common.noData') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-5">
                        <p class="h5 text-capitalize">{{ $t('user.academicDetail') }}</p>
                        <table>
                            <thead>
                                <tr class="text-capitalize">
                                    <th>{{ $t('common.no') }}</th>
                                    <th>{{ $t('user.academicName') }}</th>
                                    <th>{{ $t('user.academicDesc') }}</th>
                                    <th>{{ $t('user.startDate') }}</th>
                                    <th>{{ $t('user.endDate') }}</th>
                                    <th>{{ $t('user.certificatedDate') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="academic in userInfo?.studentInfo?.academicList" :key="academic.seqNo">
                                    <td class="text-center">{{ academic.seqNo }}</td>
                                    <td>{{ academic.academicName }}</td>
                                    <td>{{ academic.academicDesc }}</td>
                                    <td>{{ $format.formatDateTime(academic.startDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                    <td>{{ $format.formatDateTime(academic.endDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                    <td>{{ $format.formatDateTime(academic.certificatedDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                </tr>
                                <tr v-if="!userInfo?.studentInfo?.academicList">
                                    <td colspan="6" class="text-danger">{{ $t('common.noData') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- student -->

                <!-- Teacher -->
                <div class="mt-5" v-else>
                    <p class="h5 text-capitalize">{{ $t('user.qualDetail') }}</p>
                    <table>
                        <thead>
                            <tr class="text-capitalize">
                                <th class="text-center">{{ $t('common.no') }}</th>
                                <th>{{ $t('user.qualName') }}</th>
                                <th>{{ $t('user.qualDesc') }}</th>
                                <th>{{ $t('user.startDate') }}</th>
                                <th>{{ $t('user.endDate') }}</th>
                                <th>{{ $t('user.certificatedDate') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="qualification in userInfo?.teacherInfo?.qualificationList" :key="qualification.seqNo">
                                <td class="text-center">{{ qualification.seqNo }}</td>
                                <td>{{ qualification.qualificationName }}</td>
                                <td>{{ qualification.qualificationDesc }}</td>
                                <td>{{ $format.formatDateTime(qualification.startDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                <td>{{ $format.formatDateTime(qualification.endDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                <td>{{ $format.formatDateTime(qualification.certificatedDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>

                            </tr>
                            <tr v-if="!userInfo?.teacherInfo?.qualificationList">
                                <td colspan="6" class="text-danger">{{ $t('common.noData') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Teacher -->
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" @click="handleClose"><span>{{ $t('common.close') }}</span></button>
                </div>
            </div>
        </div>
    </div>
</div>