<div class="popup">
    <div class="popWrap w90p">
        <div class="pop_head">
            <h1 class="text-center">{{ userInfo.roleID === '04' ? 'Student' : 'Teacher' }} Information Detail</h1>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="dlist05 ">
                    <div class="dlist05 type02">
                        <dl>
                            <dt class="text-capitalize">Full Name</dt>
                            <dd>{{ userInfo.firstName }} {{ userInfo.lastName }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">Nick Name</dt>
                            <dd>{{ userInfo.nickName }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">Gender</dt>
                            <dd>{{ $codeConverter.codeToString(genderCodeList,userInfo.gender)}}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">Date Of Birth</dt>
                            <dd>{{ userInfo.formatDOB }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">place of birth</dt>
                            <dd>{{ userInfo.placeOfBirth }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">address</dt>
                            <dd>{{ userInfo.address }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">phone</dt>
                            <dd>{{ $phoneNumberFormater.formatPhoneNumber(userInfo.phone) }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">email</dt>
                            <dd>{{ userInfo.email }}</dd>
                        </dl>
                        <dl>
                            <dt class="text-capitalize">password</dt>
                            <dd>{{ userInfo.password }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="mt-5" v-if="userInfo.roleID === '04'">
                    <p class="h5 text-capitalize">Parent Details</p>
                    <table>
                        <thead>
                            <tr class="text-capitalize">
                                <th>No</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Job</th>
                                <th>Address</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="parentInfo in userInfo?.parentList" :key="parentInfo.seqNo">
                                <td>{{ parentInfo.seqNo }}</td>
                                <td>{{ parentInfo.firstName }}</td>
                                <td>{{ parentInfo.lastName }}</td>
                                <td>{{ $codeConverter.codeToString(genderCodeList, parentInfo.gender) }}</td>
                                <td>{{ parentInfo.job }}</td>
                                <td>{{ parentInfo.address }}</td>
                                <td>{{ $phoneNumberFormater.formatPhoneNumber(parentInfo.phone) }}</td>
                            </tr>
                            <tr v-if="!userInfo?.parentList">
                                <td colspan="7" class="text-danger">No parent records available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- student -->
                <div class="mt-5" v-if="userInfo.roleID === '04'">
                    <p class="h5 text-capitalize">academic Details</p>
                    <table>
                        <thead>
                            <tr class="text-capitalize">
                                <th>No</th>
                                <th>Academic Name</th>
                                <th>Academic Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Certificated Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="academic in userInfo?.academicList" :key="academic.seqNo">
                                <td>{{ academic.seqNo }}</td>
                                <td>{{ academic.academicName }}</td>
                                <td>{{ academic.academicDesc }}</td>
                                <td>{{ $format.formatDateTime(academic.startDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                <td>{{ $format.formatDateTime(academic.endDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                <td>{{ academic.certificatedDate }}</td>
                            </tr>
                            <tr v-if="!userInfo?.academicList">
                                <td colspan="6" class="text-danger">No parent records available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- student -->
                
                <!-- Teacher -->
                <div class="mt-5" v-if="userInfo.roleID != '04'">
                    <p class="h5 text-capitalize">Qualification Details</p>
                    <table>
                        <thead>
                            <tr class="text-capitalize">
                                <th>No</th>
                                <th>Qualification Name</th>
                                <th>Qualification Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Certificated Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="qualification in userInfo?.qualificationList" >
                                <td>{{ qualification.seqNo }}</td>
                                <td>{{ qualification.qualificationName }}</td>
                                <td>{{ qualification.qualificationDesc }}</td>
                                <td>{{ $format.formatDateTime(qualification.startDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                <td>{{ $format.formatDateTime(qualification.endDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>
                                <td>{{ $format.formatDateTime(qualification.certificatedDate,'yyyy-mm-dd','Slash', 'FullMonth') }}</td>

                            </tr>
                            <tr v-if="!userInfo?.qualificationList">
                                <td colspan="6" class="text-danger">No qualification records available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Teacher -->

            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" @click="handleClose"><span>Close</span></button>
                </div>
            </div>
        </div>
    </div>
</div>