<div class="card container flex flex-column pl-3 pt-2 pr-4">

    <div class="form flex flex-column">
        <InputText v-model="studentInfo.studentName" placeholder="Student Name" />
        <div class="flex flex-row align-items-center">
            <RadioButton v-model="studentInfo.gender" inputId="ingredient1" name="pizza" value="Male" />
            <label for="ingredient1" class="ml-2">Male</label>
        </div>
        <div class="flex flex-row align-items-center">
            <RadioButton v-model="studentInfo.gender" inputId="ingredient2" name="pizza" value="Female" />
            <label for="ingredient2" class="ml-2">Female</label>
        </div>
        <Calendar v-model="studentInfo.dateOfBirth" showIcon :showOnFocus="false" inputId="buttondisplay" dateFormat="dd-mm-yy" />
        <InputText v-model="studentInfo.placeOfBirth" placeholder="Place Of Birth" />
        <InputText v-model="studentInfo.positionDesc" placeholder="Position" />
        <InputText v-model="studentInfo.bankAccountNo" placeholder="Bank Account Number" />
    </div>

    <ConfirmDialog group="templating">
        <template #message="slotProps">
            <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                <i :class="slotProps.message.icon" class="text-5xl text-primary-500"></i>
                <p>{{ slotProps.message.message }}</p>
            </div>
        </template>
    </ConfirmDialog>
    
    <div class="flex flex-row justify-content-center">
        <Button type="button" class="btn btn-warning m-2 p-1" @click="showTemplate">Submit</Button>
        <Button type="button" class="btn btn-primary m-2 p-1" @click="fetchDataFromApi">Student List</Button>
        <Button type="button" class="btn btn-danger m-2 p-1" @click="clearList">Clear</Button>
    </div>
    
    <div class="card rounded">
        <DataTable 
            v-model:selection="selectedStudent" 
            :value="studentList"
            selectionMode="single" 
            dataKey="studentID" 
            :metaKeySelection="false"
            @click="onSelectRow(selectedStudent)"
            :pt="{
            table: 'table table-bordered'
            }">
            <Column field="studentID" header="No" headerStyle="width: 3rem"></Column>
            <Column field="studentID" header="StudentID"></Column>
            <Column field="studentName" header="Student Name"></Column>
            <Column field="gender" header="Gender"></Column>
            <Column field="dateOfBirth" header="Date Of Birth">
                <template #body="slotProps">{{ $format.formatDateTime(slotProps.data.dateOfBirth,'dd-MM-yyyy') }}</template>
            </Column>
            <Column field="placeOfBirth" header="Place Of Birth"></Column>
            <Column field="positionDesc" header="Position"></Column>
            <Column field="bankAccountNo" header="Account Number"></Column>
        </DataTable> 
    </div>

</div>