<div class="container-fluid p-0 mb-4">
    <div class="container-fluid p-0 d-flex justify-content-between">
        <span class="we_title">User Register</span>
    </div>

    <div class="container-fluid px-0 py-3">
        <div class="row">
            <div class="col-md-2">
                <label for="" class="form-label we_font_14">Select Roles for Register</label>
                <select name="" id="" class="form-select">
                    <option value="">Admin</option>
                    <option value="">Department Manager</option>
                    <option value="">Teacher</option>
                    <option value="">Student</option>
                </select>
            </div>
        </div>
    </div>

    <!-- default_form -->
        <div class="row mt-4 ">
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">User ID</label><br>
                <input type="text" name="userID" disabled class="form-control" value="dDjsJYFzP3">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Role ID</label><br>
                <select name="" id="" class="form-select">
                    <option value="">Admin</option>
                    <option value="">Department Manager</option>
                    <option value="">Teacher</option>
                    <option value="">Student</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Specific ID</label><br>
                <input type="text" name="specificID" class="form-control" value="1002">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">First Name</label><br>
                <input type="text" name="firstName" class="form-control" value="Thoeurn">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Last Name</label><br>
                <input type="text" name="lastName" class="form-control" value="Nethan661">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Nick Name</label><br>
                <input type="text" name="nickName" class="form-control" value="orange">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Gender</label><br>
                <input type="radio" name="gender" class="form-check-input" value="m"> Male &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" class="form-check-input" value="f"> Female
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Date of Birth</label><br>
                <input type="date" name="dateOfBirth" class="form-control" value="20020318">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Phone</label><br>
                <input type="text" name="phone" class="form-control" value="69514210">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Email</label><br>
                <input type="email" name="email" class="form-control" value="nethanthoeurn@gmail.com">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Password</label><br>
                <input type="text" name="passwd" class="form-control" value="8PEnCAjIsCPF">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Image URL</label><br>
                <input type="file" name="imageUrl" class="form-control" value="">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Place of Birth</label><br>
                <textarea name="" id=""></textarea>
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="form-label we_font_size">Address</label><br>
                <textarea name="" id=""></textarea>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3 col-md-3 mb-2">
                    <button class="btn btn-success w-100">Submit</button>
                </div>
            </div>
        </div>
    <!-- default_form -->


    
</div>
