<Toast />
<ConfirmDialog></ConfirmDialog>
<div class="container-fluid p-0 mb-4">
    <div class="container-fluid p-0 d-flex justify-content-between">
        <span class="text_title">User Register</span>
    </div>

    <div class="container-fluid px-0 py-3">
        <div class="row">
            <div class="col-md-2">
                <label class="form-label font_14">Select Roles for Register</label>
                <select class="form-select" v-model="select_Role" @change="selectRole">
                    <option value="03" selected>Teacher</option>
                    <option value="04">Student</option>
                </select>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h5 v-if="select_Role === '03'">Teacher</h5>
        <h5 v-else>Student</h5>
    </div>
    <hr>

    <!-- default_form -->
    <div class="row mt-4" v-if="select_Role === '03'">
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">First Name</label><br>
            <InputText v-model="teacherRegisterInfo.firstName"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Last Name</label><br>
            <InputText v-model="teacherRegisterInfo.lastName"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Nick Name</label><br>
            <InputText v-model="teacherRegisterInfo.nickName"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Gender</label><br>
            <input type="radio" v-model="teacherRegisterInfo.gender" class="form-check-input" value="m"> Male
            <input type="radio" v-model="teacherRegisterInfo.gender" class="form-check-input" value="f"> Female
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Date of Birth</label><br>
            <Calendar v-model="teacherRegisterInfo.dateOfBirth" dateFormat="yy-mm-dd" />
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Phone</label><br>
            <InputText v-model="teacherRegisterInfo.phone"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Email</label><br>
            <InputText v-model="teacherRegisterInfo.email"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Password</label><br>
            <InputText v-model="teacherRegisterInfo.passwd"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Place of Birth</label><br>
            <Textarea v-model="teacherRegisterInfo.placeOfBirth" rows="5" cols="30" />
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Address</label><br>
            <Textarea v-model="teacherRegisterInfo.address" rows="5" cols="30" />
        </div>

        <!-- Academic List -->
        <div class="col-12">
            <h5 class="mt-4"> List</h5>
            <hr>
            <!-- Academic List - Academic 1 -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                    <label class="form-label font_15">Qualification Name</label><br>
                    <InputText v-model="qualificationList.qualificationName" @keyup="onChangeValidate"
                        :invalid="fieldQualificationName" />
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                    <label class="form-label font_15">Qualification Description</label><br>
                    <InputText v-model="qualificationList.qualificationDesc" />
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                    <label class="form-label font_15">Start Date</label><br>
                    <Calendar v-model="qualificationList.startDate" @blur="onChangeValidate" dateFormat="yy-mm-dd"
                        :invalid="fieldStartDate" />
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                    <label class="form-label font_15">End Date</label><br>
                    <Calendar v-model="qualificationList.endDate" @blur="onChangeValidate" dateFormat="yy-mm-dd"
                        :invalid="fieldEndDate" />

                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                    <label class="form-label font_15">Certificated Date</label><br>
                    <InputText v-model="qualificationList.certificatedDate" @keyup="onChangeValidate"
                        :invalid="fieldCertificatedDate" />
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xl-3">
                        <button class="btn btn-info w-100 mt-3" @click="saveQualification">
                            <font-awesome-icon :icon="['fa', 'plus']" />
                            <span class="mx-2">Add Qualification</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="we_shadow">
                        <DataTable v-if="teacherInfo != ''" v-model:selection="qualificationList"
                            @row-dblclick="onClickRow" :value="teacherInfo">
                            <Column field="no" header="No" :class="customNoClass"></Column>
                            <Column field="qualificationName" header="Qualification Name"></Column>
                            <Column field="qualificationDesc" header="Qualification Description"></Column>
                            <Column field="startDate" header="Start Date"></Column>
                            <Column field="endDate" header="End Date"></Column>
                            <Column field="certificatedDate" header="Certificated Date"></Column>
                            <Column header="Edit" class="text-center">
                                <template #body="{ data }">
                                    <font-awesome-icon style="cursor: pointer;" @click="onClickEdit(data)"
                                        icon="fas fa-pencil" class=" text-primary" title="Edit" />&nbsp;
                                    <font-awesome-icon style="cursor: pointer;" @click="onClickDelete(data)"
                                        icon="fa-solid fa-trash" class=" text-danger" title="Delete" />
                                </template>
                            </Column>
                        </DataTable>

                        <table v-else>
                            <thead>
                                <tr class="text-capitalize">
                                    <th class="we_text_color">No</th>
                                    <th class="we_text_color">Qualification Name</th>
                                    <th class="we_text_color">Qualification Description</th>
                                    <th class="we_text_color">Start Date</th>
                                    <th class="we_text_color">End Date</th>
                                    <th class="we_text_color">Certificated Date</th>
                                    <th class="we_text_color">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7" class="text-danger">No data records available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-sm-6 col-xl-3 col-md-3">
                <button class="btn btn-success w-100" @click="teacherRegister">Submit</button>
            </div>
        </div>
    </div>
    <!-- default_form -->

    <!-- Student -->
    <div class="row mt-4" v-else>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">First Name</label><br>
            <InputText v-model="studentRegisterInfo.firstName"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Last Name</label><br>
            <InputText v-model="studentRegisterInfo.lastName"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Nick Name</label><br>
            <InputText v-model="studentRegisterInfo.nickName"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Gender</label><br>
            <input type="radio" v-model="studentRegisterInfo.gender" class="form-check-input" value="M"> Male
            <input type="radio" v-model="studentRegisterInfo.gender" class="form-check-input" value="F"> Female
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Date of Birth</label><br>
            <Calendar v-model="studentRegisterInfo.dateOfBirth" dateFormat="yy-mm-dd" />
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Phone</label><br>
            <InputText v-model="studentRegisterInfo.phone"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Email</label><br>
            <InputText v-model="studentRegisterInfo.email"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Password</label><br>
            <InputText v-model="studentRegisterInfo.passwd"/>
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Place of Birth</label><br>
            <Textarea v-model="studentRegisterInfo.placeOfBirth" rows="5" cols="30" />
        </div>
        <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
            <label class="form-label font_15">Address</label><br>
            <Textarea v-model="studentRegisterInfo.address" rows="5" cols="30" />
        </div>

        <!-- Parent List -->
        <div class="col-12">
            <h5 class="mt-4">Parent List</h5>
            <hr>
            <fieldset class="border rounded-3 pb-2">
                <legend class="float-none w-auto m_left20 px-2 h5">Father</legend>
                <div class="row  m-0">
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2 ">
                        <label class="form-label font_15">First Name</label><br>
                        <InputText v-model="fatherInfo.firstName"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Last Name</label><br>
                        <InputText v-model="fatherInfo.lastName"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Gender</label><br>
                        <input type="radio" v-model="fatherInfo.gender" class="form-check-input" value="M"> Male
                        <input type="radio" v-model="fatherInfo.gender" class="form-check-input" value="F"> Female
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Job</label><br>
                        <InputText v-model="fatherInfo.Job"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Phone</label><br>
                        <InputText v-model="fatherInfo.phone"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Address</label><br>
                        <Textarea  v-model="fatherInfo.address" rows="5" cols="30" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="border rounded-3 mt-3 pb-2">
                <legend class="float-none w-auto m_left20 px-2 h5">Monther</legend>
                <div class="row  m-0">
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2 ">
                        <label class="form-label font_15">First Name</label><br>
                        <InputText v-model="motherInfo.firstName"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Last Name</label><br>
                        <InputText v-model="motherInfo.lastName"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Gender</label><br>
                        <input type="radio" v-model="motherInfo.gender" class="form-check-input" value="M"> Male
                        <input type="radio" v-model="motherInfo.gender" class="form-check-input" value="F"> Female
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Job</label><br>
                        <InputText v-model="motherInfo.Job"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Phone</label><br>
                        <InputText v-model="motherInfo.phone"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Address</label><br>
                        <Textarea  v-model="motherInfo.address" rows="5" cols="30" />
                    </div>
                </div>
            </fieldset>
        </div>

        <!-- Academic List -->
        <div class="col-12">
            <h5 class="mt-4">Academic List</h5>
            <hr>
            <!-- Academic List - Academic 1 -->
            <fieldset class="border rounded-3 pb-2">
                <legend class="float-none w-auto m_left20 px-2 h5">Academic</legend>
                <div class="row m-0">
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Academic Name</label><br>
                        <InputText v-model="academicList.academicName" :invalid="fieldAcademicName" @keyup="onChangeValidateAcademic"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Academic Description</label><br>
                        <InputText v-model="academicList.academicDesc" />
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Start Date</label><br>
                        <Calendar v-model="academicList.startDate" :invalid="fieldAcademicStartDate" @blur="onChangeValidateAcademic" dateFormat="yy-mm-dd" />
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">End Date</label><br>
                        <Calendar v-model="academicList.endDate" :invalid="fieldAcademicEndDate" @blur="onChangeValidateAcademic" dateFormat="yy-mm-dd" />
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xl-3 mb-2">
                        <label class="form-label font_15">Certificated Date</label><br>
                        <Calendar v-model="academicList.certificatedDate" :invalid="fieldAcademicCertificatedDate" @blur="onChangeValidateAcademic" dateFormat="yy-mm-dd" />
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-xl-3">
                            <button class="btn btn-info w-100 mt-3" @click="saveAcademic">
                                <font-awesome-icon :icon="['fa', 'plus']" />
                                <span class="mx-2">Add Academic</span>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="we_shadow">
                        <DataTable v-if="studentInfo != ''" v-model:selection="academicList"
                            @row-dblclick="onClickRow" :value="studentInfo">
                            <Column field="no" header="No" :class="customNoClass"></Column>
                            <Column field="academicName" header="Academic Name"></Column>
                            <Column field="academicDesc" header="Academic Description"></Column>
                            <Column field="startDate" header="Start Date"></Column>
                            <Column field="endDate" header="End Date"></Column>
                            <Column field="certificatedDate" header="Certificated Date"></Column>
                            <Column header="Edit" class="text-center">
                                <template #body="{ data }">
                                    <font-awesome-icon style="cursor: pointer;" @click="onClickEditAcademic(data)"
                                        icon="fas fa-pencil" class=" text-primary" title="Edit" />&nbsp;
                                    <font-awesome-icon style="cursor: pointer;" @click="onClickDeleteAcademic(data)"
                                        icon="fa-solid fa-trash" class=" text-danger" title="Delete" />
                                </template>
                            </Column>
                        </DataTable>

                        <table v-else>
                            <thead>
                                <tr class="text-capitalize">
                                    <th class="we_text_color">No</th>
                                    <th class="we_text_color">Academic Name</th>
                                    <th class="we_text_color">Academic Description</th>
                                    <th class="we_text_color">Start Date</th>
                                    <th class="we_text_color">End Date</th>
                                    <th class="we_text_color">Certificated Date</th>
                                    <th class="we_text_color">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7" class="text-danger">No data records available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-sm-6 col-xl-3 col-md-3">
                <button class="btn btn-success w-100" @click="studentRegister">Submit</button>
            </div>
        </div>
    </div>
    <!-- student -->
</div>