<p class="we_title">Student List</p>

<div class="we_shadow">
    <DataTable :value="studentList" removableSort tableStyle="min-width: 50rem">
        <Column field="studentID" header="Student ID" sortable></Column>
        <Column field="firstName" header="First Name" sortable></Column>
        <Column field="lastName" header="Last Name" sortable></Column>
        <Column field="nickName" header="Nick Name" sortable></Column>
        <Column field="gender" header="Gender" sortable></Column>
        <Column field="dateOfBirth" header="DOB" sortable></Column>
        <Column field="placeOfBirth" header="POB" sortable></Column>
        <Column field="address" header="Address" sortable></Column>
        <Column field="phone" header="Phone Number" sortable></Column>
        <Column field="email" header="Email" sortable></Column>
        <Column field="passwd" header="Password" sortable></Column>
        <Column field="imageUrl" header="Image URL" sortable></Column>
    </DataTable>
</div>