<Toast />
<ConfirmationDialog v-if="editConfirmationVisible" @confirm="confirmEdit" @cancel="cancelEdit" />
<div class="popup">
    <div class="popWrap w90p">
        <div class="pop_head">
            <div class="w-100">
                <h1 class="text-center text-dark">Register Teacher To Department</h1>
            </div>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="row d-flex justify-content-start">
                                <div class="col-lg-5 col-md-6 mb-2">
                                    <label class="form-label font_16">Department Name : </label><br><br>
                                    <span class="h5 alert alert-info p-2">{{ teacherInfoData.departmentName }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ teacherInfoData }}

                <div class="row mt-4">
                    <div class="col-12">
                        <div class="container-fluid d-flex justify-content-start p-0 mb-3">
                            <div class="w-25">
                                <input  type="text"  v-model="searchQuery"  class="form-control"  placeholder="Search here ..." @keydown.enter="onSearch" />
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-8">
                                <DataTable 
                                    class="we_shadow"
                                    v-model:selection="selectedTeacher" 
                                    :value="filteredTeacherList"
                                    :rows="5"
                                    :paginator="true"
                                >
                                    <Column field="fullName" header="Teacher Full Name"></Column>
                                    <Column field="roleID" header="Role"></Column>
                                    <Column field="gender" header="Gender"></Column>
                                    <Column field="dateOfBirth" header="Date of Birth">
                                        <template #body="{ data }">
                                            {{ $format.formatDateTime(data.dateOfBirth,'yyyy-mm-dd') }}
                                        </template>
                                    </Column>
                                    <Column field="phone" header="Phone Number">
                                        <template #body="{ data }">
                                            {{ $phoneNumberFormater.formatPhoneNumber(data.phone) }}
                                        </template>
                                    </Column>
                                    <Column header="Add" class="text-center">
                                        <template #body="{ data }">
                                            <font-awesome-icon style="cursor: pointer;font-size: 23px;" icon="fas fa-circle-right" class="text-primary mx-2" title="Add" @click="onClickAddData(data)"/>
                                        </template>
                                    </Column>
                                </DataTable>
                                
                            </div>
                            <div class="col-md-4">
                                <DataTable 
                                    v-if="teacherUpdateList.length > 0"
                                    class="we_shadow"
                                    :value="teacherUpdateList"
                                >
                                    <Column field="fullName" header="Teacher Full Name"></Column>
                                    <Column field="gender" header="Gender"></Column>
                                    <Column header="Remove" class="text-center">
                                        <template #body="{ data }">
                                            <font-awesome-icon style="cursor: pointer;" icon="fa-solid fa-trash" class=" text-danger" title="Delete" @click="onClickDelete(data)"/>
                                        </template>
                                    </Column>
                                </DataTable>
                                <table v-else>
                                    <tr>
                                        <th class="text-secondary">Teacher Full Name</th>
                                        <th class="text-secondary">Gender</th>
                                        <th class="text-secondary">Remove</th>
                                    </tr>
                                    <tr>
                                        <td colspan="3">No data available to display.</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" style="width:185px" @click="onClose">{{ $t('common.cancel') }}</button>
                    <button class="btn01" style="width:185px" @click="saveData()">
                        {{ $t('common.save') }}
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>



