<Toast />
<ConfirmDialog></ConfirmDialog>
<div class="container-fluid d-flex flex-column we_box" style="overflow: hidden;">
    <!-- header -->
    <div class="container-fluid p-0 d-flex justify-content-between">
        <div>
            <font-awesome-icon :icon="['fa', 'users']" />
            <span class="text_title mx-2">{{ $t('user.userList') }}</span>
        </div>
        <div>
            <button type="button" class="btn btn-dark p-1 px-2" @click="exportToExcel">
                <span class="mx-2">{{ $t('common.downloadExcel') }}</span>
                <font-awesome-icon :icon="['fas', 'file-excel']" />
            </button>&nbsp;
            <button class="btn btn-primary p-1 px-2" @click="$router.push('/user-register')">
                <span> {{ $t('common.addNew') }} <font-awesome-icon :icon="['fas', 'plus']" /></span>
            </button>
        </div>
    </div>
    <!-- header -->

    <!-- search-bar -->
    <div class="container-fluid px-0 pt-2">
        <div class="row">
            <div class="col-md-3">
                <label for="" class="form-label font_14">{{ $t('user.role') }}</label>
                <select class="form-select" style="height: 37.6px !important;" v-model="roleID" @change="getUserList()">
                    <option v-for="status in userRoleList" :key="status.codeValue" :value="status.codeValue">
                        {{ status.codeValueDesc }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <!-- search-bar -->

    <div class="mt-3"></div>
    <div class="float-end">
        <button type="button" class="btn btn-dark p-2 px-2 float-end rad_right b_shadow font_15"
            @click.prevent="getUserList()">{{ $t('common.search') }}</button>
        <InputGroup class="float-end w-25">
            <InputText class="p-1 font_15 rad_left b_shadow c_input" @keyup.enter="getUserList()" v-model="searchKey"
                :placeholder="$t('common.searchKey')" style="height: 40.5px;padding-left: 15px !important;" />
        </InputGroup>

    </div>
</div>

<div class="mt-3 we_box">
    <div class="row">
        <div class="col-md-3">
            <h5>{{ $t('user.role') }} : {{ $codeConverter.codeToString(userRoleList, roleTitle) }}</h5>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <h5>{{ $t('common.total') }} : {{ totalCount }}</h5>
                </div>
                <div class="col-md-3">
                    <h5>{{ $t('common.totalMale') }} : {{ totalMale }}</h5>
                </div>
                <div class="col-md-3">
                    <h5>{{ $t('common.totalFemale') }} : {{ totalFemale }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="we_shadow">
        <DataTable 
            v-model:selection="userInfo" 
            @row-dblclick="onClickRow" 
            selectionMode="single" 
            scrollable
            :value="userList" 
            :metaKeySelection="true" 
            :rows="pageSize" 
            :lazy="true" 
            :paginator="true"
            :totalRecords="totalCount" 
            :rowsPerPageOptions="[10, 20, 50]" 
            @page="onPage">
            <Column field="no" :header="$t('common.no')" :class="['text-center']"></Column>
            <Column field="specificID" :header="$t('user.ID')"></Column>
            <Column :header="$t('user.role')">
                <template #body="{ data }">
                    {{ $codeConverter.codeToString(userRoleList, data.roleID) }}
                </template>
            </Column>
            <Column field="firstName" :header="$t('user.firstName')"></Column>
            <Column field="lastName" :header="$t('user.lastName')"></Column>
            <Column field="nickName" :header="$t('user.nickName')"></Column>
            <Column field="gender" :header="$t('user.gender')">
                <template #body="{ data }">
                    {{ $codeConverter.codeToString(genderCodeList, data.gender, 'genderCode') }}
                </template>
            </Column>
            <Column :header="$t('user.dateOfBirth')">
                <template #body="{ data }">
                    {{ $format.formatDateTime(data.dateOfBirth,'yyyy-mm-dd') }}
                </template>
            </Column>
            <Column field="placeOfBirth" :header="$t('user.placeOfBirth')"></Column>
            <Column field="address" :header="$t('user.address')"></Column>
            <Column :header="$t('user.phone')">
                <template #body="{ data }">
                    {{ $phoneNumberFormater.formatPhoneNumber(data.phone) }}
                </template>
            </Column>
            <Column field="email" :header="$t('user.email')"></Column>
            <Column field="passwd" :header="$t('user.password')"></Column>
            <Column field="statusCode" :header="$t('class.status')" style="min-width: 100px">
                <template #body="{ data }">
                    {{ $codeConverter.codeToString(statusCodeList, data.statusCode, 'statusCode') }}
                </template>
            </Column>
            <Column :header="$t('class.edit')" class="text-center">
                <template #body="{ data }">
                    <font-awesome-icon @click="editUser(data)" icon="fas fa-pencil" class="text-primary" title="Edit" />&nbsp;
                    <font-awesome-icon @click="deleteUser(data)" icon="fa-solid fa-trash" class="text-danger" title="Delete" />
                </template>
            </Column>
        </DataTable>
    </div>
    <div class="p-1"></div>
</div>