<Toast />
<ConfirmationDialog/>
<div class="popup">
    <div class="popWrap w80p">
        <div class="pop_head">
            <div class="w-100">
                <h1 class="text-center text-dark">{{ $t('class.addStudentToClass') }}</h1>
            </div>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="row d-flex justify-content-start">
                                <div class="col-lg-5 col-md-6 mb-2">
                                    <label class="form-label font_15">{{ $t('subject.selectClass') }}</label><br>
                                    <select class="form-select font-bold text-dark" v-model="studentClassInfo.classID">
                                        <option v-for="classItem in classList" :value="classItem.classInfoID">
                                            {{ classItem.className }} - {{ $t('schedule.classYear') }} {{ classItem.year }} - {{ $t('schedule.semester') }} {{ classItem.semester }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="container-fluid d-flex justify-content-end p-0 mb-3">
                            <div class="w-25">
                                <input type="text" v-model="searchQuery" class="form-control" :placeholder="$t('common.searchKey')" @keydown.enter="onSearch" />
                            </div>
                        </div>
                        <div class="we_shadow">
                            <DataTable v-model:selection="selectedStudent" :value="filteredStudentList"
                                dataKey="specificID">
                                <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
                                <Column field="fullName" :header="$t('user.name')"></Column>
                                <Column field="gender" :header="$t('user.name')"></Column>
                                <Column field="dateOfBirth" :header="$t('user.dateOfBirth')">
                                    <template #body="{ data }">
                                        {{ $format.formatDateTime(data.dateOfBirth,'yyyy-mm-dd') }}
                                    </template>
                                </Column>
                                <Column field="phone" :header="$t('user.phone')">
                                    <template #body="{ data }">
                                        {{ $phoneNumberFormater.formatPhoneNumber(data.phone) }}
                                    </template>
                                </Column>
                            </DataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" style="width:185px" @click="onClose">{{ $t('common.cancel') }}</button>
                    <button class="btn01" style="width:185px" @click="saveStudent()">
                        {{ $t('common.save') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>