<div class="container-fluid d-flex flex-column" style="overflow: hidden;">

    <div class="container-fluid p-0 d-flex justify-content-between">
        <span class="we_title">Department List</span>
        
        <button class="btn btn-primary p-1 px-2" @click="$router.push('/department-insert')" >
            Add
        </button>
    </div>

    <div class="mt-3"></div>
        <div class="float-end">
            <button type="button" class="btn btn-primary p-1 px-2 float-end" 
            @click.prevent="getDepartmentList()">{{ $t('common.search') }}</button>
            <InputGroup class="float-end w-25">
                <InputText class="p-1" v-model="searchKey" :placeholder="$t('common.searchKey')" />
            </InputGroup>
        </div>
    <div class="mt-3"></div>
    <div class="box_shadow">
        <DataTable 
            v-model:selection="departmentInfo" 
            @row-dblclick="onClickRow(departmentInfo)" 
            tableStyle="min-width: 50rem"
            selectionMode="single" 
            scrollable
            :value="departmentList" 
            :metaKeySelection="true" 
            :rows="pageSize"
            :lazy="true"
            :paginator="true"
            :totalRecords="totalCount"
            :rowsPerPageOptions="[10, 20, 50]" 
            scrollHeight="50vh"
            @page="onPage">
            <Column field="departmentID" :header="$t('department.depID')" style="min-width:100px"></Column>
            <Column field="departmentName" :header="$t('department.depName')" style="min-width: 150px"></Column>
            <Column field="departmentDesc" :header="$t('department.depDesc')" style="min-width: 150px"></Column>
            <Column field="statusCode" :header="$t('department.statusCode')" style="min-width: 100px">
                <template #body="{ data }">
                    {{ $codeConverter.codeToString(statusCodeList, data.statusCode) }}
                </template>
            </Column>
            <Column :header="$t('department.edit')" style="min-width: 10px" class="d-flex justify-content-center">
                <template #body="{ data }">
                    <Button icon="pi pi-pencil" @click="editDepartment(data)" />
                    <font-awesome-icon :icon="['fas', 'pencil']" />
                </template>
            </Column>
        </DataTable>
        <div class="p-1"></div>
        <button type="button" class="btn btn-dark" @click="onDownloadExcel">Download Excel</button>
    </div>
</div>