<div class="popup">
    <div class="popWrap w70p">
        <div class="pop_head">
            <h1 class="text-center text-dark">Class Edit</h1>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="container-fluid p-0 mt-4">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 mb-2">
                            <label class="form-label font_15">Class Name</label><br>
                            <InputText class="form-control" v-model="classInfoUpdate.className" />
                        </div>
                        <div class="col-lg-3 col-md-4 mb-2">
                            <label class="form-label font_15">Department</label><br>
                            <select class="form-select" v-model="classInfoUpdate.departmentID">
                                <option value="DEP1002">IT</option>
                                <option value="Electronic">Electronic</option>
                                <option value="Finance">Finance</option>
                                <option value="Marketing">Marketing</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-2">
                            <label class="form-label font_15">Year</label><br>
                            <select class="form-select" v-model="classInfoUpdate.year">
                                <option v-for="status in year" :value="status.codeValue">
                                    {{ status.codeValueDesc }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-2">
                            <label class="form-label font_15">Semester</label><br>
                            <select class="form-select" v-model="classInfoUpdate.semester" @change="semesterChangeType">
                                <option v-for="status in semester" :value="status.codeValue">
                                    {{ status.codeValueDesc }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-2">
                            <label class="form-label font_15">Generation</label><br>
                            <select class="form-select" v-model="classInfoUpdate.generation">
                                <option value="G_1">G_1</option>
                                <option value="G_2">G_2</option>
                                <option value="G_3">G_3</option>
                                <option value="G_4">G_4</option>
                                <option value="G_5">G_5</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 mb-2">
                            <label class="form-label font_15">Time</label><br>
                            <select class="form-select" v-model="classInfoUpdate.time">
                                <option value="Monday 14:00-17:00">Monday 14:00-17:00</option>
                                <option value="Tuesday 14:00-17:00">Tuesday 14:00-17:00</option>
                                <option value="Wednesday 09:00-12:00">Wednesday 09:00-12:00</option>
                                <option value="Thursday 09:00-12:00">Thursday 09:00-12:00</option>
                                <option value="Friday 09:00-12:00">Friday 09:00-12:00</option>
                                <option value="Weekend">Weekend</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-2">
                            <label class="form-label font_15">Status</label><br>
                            <select class="form-select" v-model="classInfoUpdate.statusCode">
                                <option v-for="status in statusCodeList" :value="status.codeValue">
                                    {{ status.codeValueDesc }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label font_15">Description</label><br>
                            <textarea class="form-control" v-model="classInfoUpdate.classDesc" rows="5" cols="30"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" style="width:185px" @click="onClose">Close</button>
                    <button class="btn01" style="width:185px" @click="classEdit(classInfoUpdate)">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
