<!-- <MyLoading v-if="Loading" /> -->
<Toast />
<ConfirmDialog></ConfirmDialog>
<div class="container-fluid d-flex flex-column we_box" style="overflow: hidden;">
    <!-- header -->
    <div class="container-fluid px-0 py-4">
        <div class="row">
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">{{ $t('schedule.selectScheduleYear') }}</label>
                <select class="form-select" v-model="filterInfo.scheduleYear">
                    <option v-for="year in scheduleYearList" :value="year.codeValue">{{ year.codeValueDesc }}</option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">{{ $t('schedule.selectYear') }}</label>
                <select class="form-select" v-model="filterInfo.classYear">
                    <option v-for="year in yearList" :value="year.codeValue" :style="{ display: !year.codeValue ? 'none' : 'block' }">
                        <p v-if="year.codeValue">{{ year.codeValueDesc }}</p>
                    </option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">{{ $t('class.selectSemester') }}</label>
                <select class="form-select" v-model="filterInfo.semester">
                    <option v-for="semester in semesterList" :value="semester.codeValue" :style="{ display: !semester.codeValue ? 'none' : 'block' }">
                        <p v-if="semester.codeValue">{{ semester.codeValueDesc }}</p>
                    </option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">{{ $t('class.selectDepartment') }}</label>
                <select class="form-select" v-model="filterInfo.departmentID">
                    <option v-for="department in departmentList" :key="department.departmentID" :value="department.departmentID">
                        {{ department.departmentID }} - {{ department.departmentName }}
                    </option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">{{ $t('class.selectClass') }}</label>
                <select class="form-select" v-model="filterInfo.classID">
                    <option v-for="classInfo in classList" :key="classInfo.classID" :value="classInfo.classID">
                        {{ classInfo.classID }} - {{ classInfo.className }}
                    </option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">{{ $t('schedule.selectDay') }}</label>
                <select class="form-select" v-model="filterInfo.scheduleDay">
                    <option v-for="day in weekdayList" :key="day.codeValue" :value="day.codeValue" :style="{ display: !day.codeValue ? 'none' : 'block' }">
                        <p v-if="day.codeValue">{{ day.codeValueDesc }}</p>
                    </option>
                </select>
            </div>
            <div class="col-md-3 mb-2" v-if="isSelectedDepartment">
                <label class="form-label font_14">Select Teacher From Selected Department</label>
                <Checkbox class="d-flex justify-content-center align-content-center" v-model="checkedAllTeacher" :binary="true" />
            </div>
        </div>
    </div>
</div>

<div class="we_box mt-3">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">Start Time</label>
                <select class="form-select" v-model="scheduleInfo.startTime">
                    <option v-for="time in startTimeList" :value="time.codeValue">{{ time.codeValueDesc }}</option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">End Time</label>
                <select class="form-select" v-model="scheduleInfo.endTime">
                    <option v-for="time in endTimeList" :value="time.codeValue">{{ time.codeValueDesc }}</option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">Teacher</label>
                <select class="form-select" v-model="teacherInfo">
                    <option v-for="teacher in teacherList" :value="teacher" :style="{ display: !teacher.teacherID ? 'none' : 'block' }">
                        <span>{{ teacher.teacherID }} - {{ teacher.firstName }} {{ teacher.lastName }}</span>
                    </option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">Subject</label>
                <select class="form-select" v-model="subjectInfo">
                    <option v-for="subject in subjectList" :value="subject">
                        <p>{{ subject.subjectName }}</p>
                    </option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label font_14">Room</label>
                <select class="form-select" v-model="roomInfo">
                    <option v-for="room in roomList" :value="room">
                        <p>{{ room.roomName }}</p>
                    </option>
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <button class="btn btn-outline-secondary text-dark" style="margin-top: 29px !important;" @click="onClickAddToList">Add To List</button>
            </div>
        </div>
    </div>
    <div class="we_shadow p-3">
        <DataTable :value="scheduleList"
            v-model:selection="rowData" >
            <Column field="seqNo" header="No" class="text-center"></Column>
            <Column header="Start Time" class="text-center">
                <template #body="{ data }">
                    {{ convertTime(data.startTime) }}
                </template>
            </Column>
            <Column header="End Time" class="text-center">
                <template #body="{ data }">
                    {{ convertTime(data.endTime) }}
                </template>
            </Column>
            <Column header="Teacher">
                <template #body="{ data }">
                    <span>{{ data.firstName }} {{ data.lastName }}</span>
                </template>
            </Column>
            <Column field="subjectName" header="Subject"></Column>
            <Column field="roomName" header="Room"></Column>
            <Column field="validYn" header="Status"></Column>
            <Column header="Action">
                <template #body="{ data }">
                    <div class="container-fluid justify-content-center align-item-center">
                        <font-awesome-icon style="background-color: #dc3545;padding: 4px;border-radius: 8px;" 
                        @click="onClickBtnDelete(data)"
                        :icon="['fas', 'fa-trash']" class="text-white" :title="$t('action.delete')" />
                    </div>
                </template>
            </Column>
        </DataTable>
        <div class="container-fluid my-3">
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-outline-info" @click="onClickValidate">Validate</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-outline-success" @click="onClickSave">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="p-1"></div>
</div>