<div class="container-fluid d-flex flex-column" style="overflow: hidden;">

    <!-- header -->
    <div class="container-fluid p-0 d-flex justify-content-between">
        <div>
            <font-awesome-icon :icon="['fa', 'plus']" />&nbsp;
            <span class="we_title">Class Insert</span>
        </div>
    </div>

    <div class="container-fluid p-0 mt-4">
        <div class="row">

            <div class="col-lg-3 col-md-4 mb-2">
                <label class="from-label we_font_size">Class Name</label><br>
                <InputText class="form-control" id="username" v-model="value"/>
            </div>

            <div class="col-lg-3 col-md-4 mb-2">
                <label class="from-label we_font_size">Time</label><br>
                <select class="form-select" name="" id="" style="height: 37.6px !important;">
                    <option value="">Choose time</option>
                    <!-- Weekdays -->
                    <optgroup label="Weekdays">
                        <option value="monday-14-17">Monday 14:00-17:00</option>
                        <option value="tuesday-14-17">Tuesday 14:00-17:00</option>
                        <option value="wednesday-14-17">Wednesday 14:00-17:00</option>
                        <option value="thursday-14-17">Thursday 14:00-17:00</option>
                        <option value="friday-14-17">Friday 14:00-17:00</option>
                    </optgroup>
                    <!-- Weekend -->
                    <optgroup label="Weekend">
                        <option value="saturday-14-17">Saturday 14:00-17:00</option>
                        <option value="sunday-14-17">Sunday 14:00-17:00</option>
                    </optgroup>
                </select>
            </div>

            <div class="col-lg-3 col-md-4 mb-2">
                <label class="from-label we_font_size">Year</label><br>
                <select class="form-select" name="" id="" style="height: 37.6px !important;">
                    <option value="">Choose Year</option>
                    <option>1</option>                        
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>

            <div class="col-lg-3 col-md-4 mb-2">
                <label class="from-label we_font_size">Semester</label><br>
                <select class="form-select" name="" id="" style="height: 37.6px !important;">
                    <option value="">Choose semester</option>
                    <option>1</option>                        
                    <option>2</option>
                </select>
            </div>

            <div class="col-lg-3 col-md-4 mb-2">
                <label class="from-label we_font_size">Department</label><br>
                <select class="form-select" name="" id="" style="height: 37.6px !important;">
                    <option value="">Choose Year</option>
                    <option>IT</option>                        
                    <option>Electronic</option>
                </select>
            </div>
            
        </div>
        <!-- <div style="clear: both !important;"></div> -->
            <div class="col-lg-3 col-md-4 mb-2">
                <label class="from-label we_font_size"></label><br>
                <button class="btn btn-success w-100">Add</button>
            </div>
    </div>

</div>