<div class="container-fluid d-flex flex-column" style="overflow: hidden;">

    <!-- header -->
        <div class="container-fluid p-0 d-flex justify-content-between">
            <div>
                <font-awesome-icon :icon="['fa', 'calendar-days']" />&nbsp;
                <span class="we_title">{{ $t('class.title') }}</span>
            </div>
            <router-link to="/class-insert">
                <button class="btn btn-primary p-1 px-2">
                    Add
                    <font-awesome-icon :icon="['fas', 'plus']" />
                </button>
            </router-link>
            
        </div>
    <!-- header -->

    <!-- search-bar -->
        <div class="container-fluid px-0 py-4">
            <div class="row">
                <div class="col-md-3">
                    <label for="" class="form-label we_font_14">Time</label>
                    <div class="card flex justify-center">
                        <Dropdown 
                            v-model="selectedTime" 
                            :options="time" 
                            optionLabel="name" 
                            placeholder="Select time" 
                            class="" 
                        />
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label we_font_14">Year</label>
                    <div class="card flex justify-center">
                        <Dropdown 
                            v-model="selectedYear" 
                            :options="year" 
                            optionLabel="name" 
                            placeholder="Select year" 
                            class="" 
                        />
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="" class="form-label we_font_14">Semester</label>
                    <div class="card flex justify-center">
                        <Dropdown 
                            v-model="selectedSemester" 
                            :options="semester" 
                            optionLabel="name" 
                            placeholder="Select semester" 
                            class="" 
                        />
                    </div>
                </div>
                
            </div>
        </div>
    <!-- search-bar -->

    <div class="mt-3"></div>
        <div class="float-end">
            <button type="button" class="we_radius_right btn btn-dark we_shadow p-2 px-2 float-end we_font_size" @click.prevent="getClassList()">{{ $t('common.search') }}</button>
            <InputGroup class="float-end w-25">
                <InputText class="p-1 we_font_size we_radius_left we_shadow c_input" v-model="searchKey" :placeholder="$t('common.searchKey')" />
            </InputGroup>
            <span class="we_shadow">
                <button type="button" class="btn btn-dark p-2 px-2 we_font_size" @click="exportToExcel">
                    Export Excel &nbsp;
                    <font-awesome-icon :icon="['fas', 'file-excel']" />
                </button> 
            </span>
        </div>
    <div class="mt-3"></div>

    <div class="box_shadow">
        <DataTable 
            v-model:selection="departmentInfo" 
            @row-dblclick="onClickRow(departmentInfo)" 
            tableStyle="min-width: 50rem"
            selectionMode="single" 
            scrollable
            :value="classList" 
            :metaKeySelection="true" 
            :rows="pageSize"
            :lazy="true"
            :paginator="true"
            :totalRecords="totalCount"
            :rowsPerPageOptions="[10, 20, 50]" 
            @page="onPage">
            <Column field="className" :header="$t('class.cName')" style="min-width: 150px"></Column>
            <Column field="classDes" header="Class Description" style="min-width: 150px"></Column>
            <Column field="departmentID" :header="$t('class.dId')" style="min-width: 150px"></Column>
            <Column field="statusCode" :header="$t('class.status')" style="min-width: 100px">
                <template #body="{ data }">
                    {{ $codeConverter.codeToString(statusCodeList, data.statusCode) }}
                </template>
            </Column>
            <Column :header="$t('class.edit')" class="text-center">
                <template #body="{ data }">
                    <font-awesome-icon @click="detailsClass()" icon="fa-solid fa-eye" class="text-success"/>&nbsp;
                    <font-awesome-icon @click="deleteClass(classList.id)" icon="fa-solid fa-trash" class="text-danger"/>&nbsp;
                    <RouterLink :to="'/class-edit/' + data.id">
                        <font-awesome-icon icon="fas fa-pencil" class="text-primary"/>
                    </RouterLink>
                </template>
            </Column>
        </DataTable>
        <div class="p-1"></div>
    </div>
</div>