<div class="popup">
    <div class="popWrap w90p">
        <div class="pop_head">
            <h1 class="text-center text-primary">Class Details</h1>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <TabView>
                    <TabPanel header="Subject List Details">
                        <table>
                            <thead>
                                <tr class="text-capitalize">
                                    <th class="text-center">No</th>
                                    <th>Subject Name</th>
                                    <th>Subject Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="classInfo && classInfo.length > 0" v-for="(data, index) in classInfo" :key="data.classInfoID">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ data.subjectName }}</td>
                                    <td>{{ data.subjectDesc }}</td>
                                </tr>
                                <tr v-else>
                                    <td colspan="6" class="text-danger">No Subject records available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </TabPanel>
                    <TabPanel header="Student List Details">
                        <table>
                            <thead>
                                <tr class="text-capitalize">
                                    <th class="text-center">No</th>
                                    <th>Subject Name</th>
                                    <th>Subject Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="classInfo && classInfo.length > 0" v-for="(data, index) in classInfo" :key="data.classInfoID">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ data.subjectName }}</td>
                                    <td>{{ data.subjectDesc }}</td>
                                    <td>{{ data.subjectDesc }}</td>
                                </tr>
                                <tr v-else>
                                    <td colspan="6" class="text-danger">No Subject records available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </TabPanel>
                </TabView>
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" @click="handleClose"><span>{{ $t('common.close') }}</span></button>
                </div>
            </div>
        </div>
    </div>
</div>