<div class="popup">
    <div class="popWrap w90p">
        <div class="pop_head">
            <h1 class="text-center text-primary">Class Details</h1>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <TabView>
                    <!-- Subject List Details Tab -->
                    <TabPanel header="Subject List Details">
                        <table>
                            <thead>
                                <tr class="text-capitalize">
                                    <th class="text-center">No</th>
                                    <th>Subject Name</th>
                                    <th>Subject Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="classInfo && classInfo.length > 0" v-for="(data, index) in classInfo"
                                    :key="data.classInfoID">
                                    <td class="text-center">{{ index + 1 }}</td>
                                    <td>{{ data.subjectName }}</td>
                                    <td>{{ data.subjectDesc }}</td>
                                </tr>
                                <tr v-else>
                                    <td colspan="3" class="text-danger text-center">No Subject records available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </TabPanel>

                    <!-- Student List Details Tab -->
                    <TabPanel header="Student List Details">
                        <table>
                            <thead>
                                <tr class="text-capitalize">
                                    <th class="text-center">No</th>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Phone Number</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="studentInfo && studentInfo.length > 0" v-for="(data, index) in studentInfo"
                                    :key="data.studentInfoID">
                                    <td class="text-center">{{ index + 1 }}</td>
                                    <td>{{ data.studentID }}</td>
                                    <td>{{ data.fullName }}</td>
                                    <td>{{ data.gender }}</td>
                                    <td>{{ data.dateOfBirth }}</td>
                                    <td>{{ data.phoneNumber }}</td>
                                    <td>{{ data.statusCode }}</td>
                                </tr>
                                <tr v-else>
                                    <td colspan="7" class="text-danger text-center">No Student records available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </TabPanel>
                </TabView>
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" @click="handleClose"><span>{{ $t('common.close') }}</span></button>
                </div>
            </div>
        </div>
    </div>
</div>