<Toast />
<ConfirmationDialog v-if="editConfirmationVisible" @confirm="confirmEdit" @cancel="cancelEdit" />
<div class="popup">
    <div class="popWrap w70p">
        <div class="pop_head">
            <div class="w-100">
                <h1 class="text-center text-dark">Register Student To Classroom</h1>
            </div>
        </div>
        <div class="pop_cont">
            <div class="cont">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="row d-flex justify-content-start">
                                <div class="col-lg-5 col-md-6 mb-2">
                                    <label class="form-label font_15">{{ $t('subject.selectClass') }}</label><br>
                                    <select class="form-select font-bold text-dark" v-model="studentClassInfo.classID" :disabled="isAdd || !isInsert">
                                        <option v-for="classItem in classList" :value="classItem.classInfoID">
                                            {{ classItem.className }} - (Y: {{ classItem.year }} - S: {{ classItem.semester }})
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <div class="container-fluid d-flex justify-content-end p-0 mb-3">
                            <div class="w-25">
                                <input  type="text"  v-model="searchQuery"  class="form-control"  placeholder="Search by full name" @keydown.enter="onSearch" />
                            </div>
                        </div>

                        <div class="we_shadow">

                            <DataTable 
                                v-model:selection="selectedStudent" 
                                :value="filteredStudentList"
                                dataKey="specificID" 
                                paginator 
                                :rows="10"
                            >
                                <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
                                <Column field="fullName" header="Student Full Name"></Column>
                                <Column field="gender" header="Gender"></Column>
                                <Column field="dateOfBirth" header="Date Of Birth"></Column>
                                <Column field="phone" header="Phone Number"></Column>
                            </DataTable>

                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="pop_foot">
            <div class="footer_btn">
                <div class="right_side">
                    <button class="btn03" style="width:185px" @click="onClose">{{ $t('common.cancel') }}</button>
                    <button class="btn01" style="width:185px" @click="saveStudent()">
                        {{ $t('common.save') }}
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>



