<div class="wrapper">
    <div class="wrapperWrap">
        <div :class="['sidebar d-flex flex-column', isCollapse ? 'collapse' : '']">
            <div class="logo-box d-flex flex-row justify-content-around">
                <img src="iti-logo.svg" @click="$router.push('/')">
                <div class="logo-name">{{ $t('common.itiName') }}</div>
            </div> 
            <ul class="sidebar-list">
                <li v-for="(item, index) in menuList" :key="index">
                    <div class="title">
                        <router-link :to="item.path" class="link">
                            <i><font-awesome-icon :icon="item.iconClass" /></i>
                            <span class="name">{{ $t(`menu.${item.name}`) }}</span>
                        </router-link>
                    </div>
                </li>
            </ul>
            <button class="btn btn-primary p-3 d-flex justify-content-center" @click="toggleSidebar">
                <font-awesome-icon icon="fa-solid fa-bars" />
            </button>
        </div>

        <div class="main_side">
            <div class="sticky_head d-flex flex-row justify-content-center align-center">
                <SelectButton v-model="currentLanguage" :options="languageList" aria-labelledby="basic" />
                <!-- <button class="btn btn-dark" @click="changeLanguage('en')">English</button>
                <button class="btn btn-dark" @click="changeLanguage('km')">Khmer</button> -->
            </div>
            <div class="main_content m-2">
                <Toast />
                <router-view></router-view>
            </div>
        </div>
    </div>
</div>
