<div class="wrapper">
    <div class="wrapperWrap ">
        <!-- Sidebar -->
        <div :class="['sidebar d-flex flex-column', isCollapse ? 'collapse' : '']">
            <div class="logo-box bg_black d-flex flex-row justify-content-around"
                @click="$router.push('/admin-dashboard')">
                <img src="@/assets/icons/iti-logo.svg">
                <div class="logo-name">{{ $t('common.itiName') }}</div>
            </div>
            <ul class="sidebar-list nav d-flex flex-column b_shadow p-0 cursor-pointer">
                <li v-for="item in menuList" :key="item.name" :class="['we_no_select', isActive(item) ? 'active-menu-item' : '']">
                    <!-- Main Menu Item -->
                    <router-link style="padding: 10px;" v-if="!item.subMenuList" :to="item.path" class="nav-item link nav-link d-flex">
                        <div style="width: 25px;">
                            <i style="color: #252b3b; padding: 0 5px 0 0;">
                                <font-awesome-icon :icon="item.iconClass" />
                            </i>
                        </div>
                        <span class="name" style="color: #252b3b;">{{ $t(`menu.${item.name}`) }}</span>
                    </router-link>
                    <!-- Dropdown Menu Item -->
                    <div v-else>
                        <a style="padding: 10px;" :class="['nav-link', 'link', 'nav-item', isActive(item) ? 'active-menu-item' : '']" @click="toggleSubMenu(item.name)">
                            <div class="p-0 d-flex justify-content-between">
                                <div class="d-flex">
                                    <div style="width: 25px;">
                                        <i style="color: #252b3b;padding: 0 5px 0 0;">
                                            <font-awesome-icon :icon="item.iconClass" />
                                        </i>
                                    </div>
                                    <span style="color: #252b3b;" class="name">{{ $t(`menu.${item.name}`) }}</span>
                                </div>
                                <div>
                                    <font-awesome-icon :icon="item.open ? ['fas', 'chevron-down'] : ['fas', 'chevron-right']" />
                                </div>
                            </div>
                        </a>
                        <!-- Sub-menu Items -->
                        <ul v-if="item.open" class="nav flex-column">
                            <li style="padding: 10px 0;" v-for="subItem in item.subMenuList" :key="subItem.name"
                                :class="['nav-item', isActive(subItem) ? 'active-menu-item' : '']">
                                <router-link :to="subItem.path" class="nav-link d-flex">
                                    <div style="width: 25px;">
                                        <i style="color: #252b3b;padding: 0 5px 0 0;">
                                            <font-awesome-icon :icon="subItem.iconClass" />
                                        </i>
                                    </div>
                                    <span style="color: #252b3b;" class="name">{{ $t(`menu.${subItem.name}`) }}</span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Main side  -->
        <div class="main_side">
            <div class="sticky_head d-flex justify-content-evenly px-3 flex-row bg_black">
                <div class="wrap row">
                    <div class="col-md-10 d-flex">
                        <!-- <p class="text text-light neonText">{{ $t(greeting) }} 
                            <span class="username">: {{ userInfo.firstName }} {{ userInfo.lastName }} - {{ $codeConverter.codeToString(userRoleList,userInfo.roleID,'userRoleCode') }}</span>
                        </p> -->
                    </div>
                    <div class="col-md-2">
                        <SelectButton class="float-end" style="margin-right: 24px;" v-model="currentLanguage"
                            :options="languageList" aria-labelledby="basic" />
                    </div>
                </div>
                <button class="btn btn-warning p-2" @click="onClickLogout" style="width: 80px;">{{ $t('common.logout') }}</button>
            </div>
            <div class="main_content m-3">
                <router-view></router-view>
            </div>
        </div>
    </div>
</div>