<div class="wrapper">
    <div class="wrapperWrap ">
        <!-- Sidebar -->
        <div :class="['sidebar d-flex flex-column', isCollapse ? 'collapse' : '']">
            <div style="cursor: pointer;" class="logo-box bg_black d-flex flex-row justify-content-around"
                @click="$router.push('/admin-dashboard')">
                <img src="iti-logo.svg">
                <div class="logo-name">{{ $t('common.itiName') }}</div>
            </div>
            <ul class="sidebar-list">
                <li v-for="(item, index) in menuList" :key="index">
                    <div class="title">
                        <router-link v-if="!item.subMenuList" :to="item.path" class="link">
                            <i><font-awesome-icon :icon="item.iconClass" /></i>
                            <span class="name">{{ $t(`menu.${item.name}`) }}</span>
                        </router-link>
                        <div class="container-fluid" v-else>
                            <div class="link">
                                <i><font-awesome-icon :icon="item.iconClass" /></i>
                                <span class="name">{{ $t(`menu.${item.name}`) }}</span>
                            </div>
                            <ul class="sub-list">
                                <li v-for="(subItem, subIndex) in item.subMenuList" :key="subIndex">
                                    <div class="sub-title">
                                        <router-link :to="subItem.path" class="sub-link">
                                            <span class="sub-name">{{ $t(`menu.${subItem.name}`)}}</span>
                                        </router-link>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Main side  -->
        <div class="main_side" style="background-color: #edf1f4 !important;">
            <div class="sticky_head d-flex flex-row bg_black">
                <div class="wrap row">
                    <div class="col-md-10 d-flex">
                        <p class="text">{{ $t(greeting) }} -</p>
                        <span class="username">{{ userInfo.username }}</span>
                    </div>
                    <div class="col-md-2">
                        <SelectButton class="float-end" style="margin-right: 24px;" 
                        v-model="currentLanguage" 
                        :options="languageList" 
                        aria-labelledby="basic" />
                    </div>
                </div>
            </div>
            <div class="main_content m-3">
                <div class="p-3 rad" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</div>